<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ommaviy oferta | MedMapp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="medmapp, medmapp uz, MedMapp, MedMapp uz, Hindistonda davolanish, eng yaxshi shifokorlar, top 10 klinika, onkologiya markazi, O'zbekistonliklar uchun davolanish, лечение в индии, лучшие врачи индии, топ клиник индии, saratonni davolash, jigar transplantatsiyasi, Hindiston, buyrak transplantatsiyasi, jigar transplantatsiyasi, jarrohlik, tibbiy turizm">
    <meta name="description" content="MedMapp platformasi orqali Hindistondagi eng mashhur shifoxonalarda arzon va shaffof narxlarda davolaning!">

    <meta property="og:title" content="MedMapp platformasi rasmiy veb-sayti">
    <meta property="og:description" content="MedMapp platformasi orqali Hindistondagi eng mashhur shifoxonalarda arzon va shaffof narxlarda davolaning!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://medmapp.uz/">
    <meta property="og:image" content="https://medmapp.uz/images/logo/MedMapp_Logo.png" />
    <meta property="og:site_name" content="medmapp.uz">

    <!-- Tailwind CSS va Ikonkalar -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <!-- Google Fonts: Inter fontini yuklash -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../images/logo/favicon.png">

    <link rel="stylesheet" href="../style.css">
    

    <meta name='dmca-site-verification' content='NEJLMXowYndsRUJBSlVwRS9yRWJFUT090' /> <!-- Hotjar Tracking Code for Site 6516105  -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:6516105,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WFJ5QFG709"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WFJ5QFG709');
    </script>

</head>
<body>

   <header class="header scrolled">
    <a href="/" class="header-logo">
        <img src="../images/logo/MedMapp_Logo.png" alt="MedMapp Logosi">
    </a>
    
    <!-- Navigatsiya paneli (mobil va desktop uchun) -->
    <nav class="header-nav" id="header-nav">
        <!-- Mobil menyu uchun sarlavha (faqat mobilda ko'rinadi) -->
        <div class="mobile-nav-header">
            <img src="../images/logo/favicon.png" alt="MedMapp" class="mobile-nav-logo">
            <h3 class="mobile-nav-title">Menyu</h3>
        </div>

        <!-- Asosiy menyu linklari -->
        <ul>
            <li><a href="index.html">Bosh sahifa</a></li>
            <li><a href="services.html">Xizmatlar</a></li>
            <li><a href="clinics.html">Shifoxonalar</a></li>
            <li><a href="pricing.html">Narxlar</a></li>
            <li><a href="doctors.html">Shifokorlar</a></li>
            <li><a href="testimonials.html">Sharhlar</a></li>
            <li><a href="blog.html">Blog</a></li>
        </ul>

        <!-- Mobil menyuning pastki qismi (desktopda yashirin) -->
        <div class="mobile-nav-footer">
            
            <div class="auth-buttons">
                <button id="openModalBtn" class="signup-btn" style="color: white!important;">
                    <i class="ph-bold ph-heartbeat text-xl mr-2"></i>
                    <span>Tibbiy tashxis olish</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- O'ng tarafdagi harakatlar uchun umumiy konteyner -->
     <div class="header-right-container">
        <!-- Desktop uchun harakatlar -->
        <div class="header-actions">
            <!-- TIL TANLASH (YANGILANGAN) -->
            <div class="language-selector-wrapper">
                <button class="language-selector-btn" id="desktop-lang-btn">
                    <div class="lang-text-group">
                        <img id="desktop-selected-lang-flag" src="../images/language/uz.png" alt="O'zbekiston bayrog'i" class="lang-flag">
                        <span id="desktop-selected-lang-text">UZ</span>
                    </div>
                    <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
                <ul class="language-dropdown" id="desktop-lang-dropdown">
                    <li><a href="../uz/public-offer.html" data-lang="uz" class="selected"><img src="../images/language/uz.png" alt="O'zbekiston bayrog'i" class="lang-flag"> O'zbekcha</a></li>
                    <li><a href="../ru/public-offer.html" data-lang="ru"><img src="../images/language/ru.png" alt="Rossiya bayrog'i" class="lang-flag"> Русский</a></li>
                    <li><a href="../en/public-offer.html" data-lang="en"><img src="../images/language/en.png" alt="Birlashgan Qirollik bayrog'i" class="lang-flag"> English</a></li>
                </ul>
            </div>
            <!-- Kirish va Ro'yxatdan o'tish tugmalari -->
            <div class="auth-buttons">
                <button id="openModalBtn" class="signup-btn" style="color: white!important;">
                    <i class="ph-bold ph-heartbeat text-xl mr-2"></i>
                    <span>Tibbiy tashxis olish</span>
                </button>
            </div>
        </div>

        <!-- MOBIL UCHUN TIL TANLASH -->
        <div class="mobile-header-actions">
            <div class="language-selector-wrapper">
                 <button class="language-selector-btn" id="mobile-header-lang-btn">
                    <div class="lang-text-group">
                        <img id="mobile-header-selected-lang-flag" src="../images/language/uz.png" alt="Uzbekistan Bayrog'i" class="lang-flag">
                        <span id="mobile-header-selected-lang-text">UZ</span>
                    </div>
                    <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
                <ul class="language-dropdown" id="mobile-header-lang-dropdown">
                    <li><a href="../uz/public-offer.html" data-lang="uz" class="selected"><img src="../images/language/uz.png" alt="Uzbekistan Bayrog'i" class="lang-flag"> O'zbekcha</a></li>
                    <li><a href="../ru/public-offer.html" data-lang="ru"><img src="../images/language/ru.png" alt="Rossiya Bayrog'i" class="lang-flag"> Русский</a></li>
                    <li><a href="../en/public-offer.html" data-lang="en"><img src="../images/language/en.png" alt="Buyuk Britaniya Bayrog'i" class="lang-flag"> English</a></li>
                </ul>
            </div>
        </div>

        <!-- Gamburger tugmasi -->
        <button class="hamburger-menu" id="hamburger-menu" aria-label="Menyuni ochish/yopish" aria-controls="header-nav" aria-expanded="false">
            <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </button>
    </div>
</header>

    <!-- Asosiy kontent -->
    <main class="main-content">
        <div class="container">
            <div class="policy-card">
                <div class="policy-header">
                    <div class="header-content">
                        <div class="header-icon">
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path><polyline points="14 2 14 8 20 8"></polyline>
                            </svg>
                        </div>
                        <div>
                            <h1 class="policy-title">Ommaviy Oferta</h1>
                            <p class="policy-subtitle">axborot xizmatlarini ko‘rsatish bo‘yicha shartnoma tuzish haqida</p>
                        </div>
                    </div>
                </div>

                <div class="policy-content-wrapper">
                    <div class="prose">
                    <p>Mazkur Ommaviy oferta (keyingi o‘rinlarda – “Oferta”) O‘zbekiston Respublikasi qonunchiligiga muvofiq ro‘yxatdan o‘tgan, to‘liq muomala layoqatiga ega “MEDMAPP” mas’uliyatli cheklangan jamiyatining (keyingi o‘rinlarda – “Ijrochi”), STIR 312319171, har qanday jismoniy shaxsga (keyingi o‘rinlarda – “Buyurtmachi”) yo‘llangan rasmiy taklifi bo‘lib, unda bayon etilgan shartlar asosida axborot xizmatlarini ko‘rsatish bo‘yicha Shartnoma tuzishni taklif qiladi.</p>
                    <p>Mazkur Ofertada ko‘rsatilgan harakatlarni amalga oshirish orqali Buyurtmachi:</p>
                    <ul>
                        <li>ushbu Ofertaning barcha shartlarini istisnosiz va shartsiz qabul qilganini;</li>
                        <li>Ijrochining huquqiy maqomini hamda uning ko‘rsatadigan xizmatlari xususiyatini tushunganini;</li>
                        <li>o‘z nomidan, o‘z manfaatlari va/yoki vakolatlari asosida vakillik qilayotgan shaxs manfaatlari yo‘lida ish yuritayotganini tasdiqlaydi.</li>
                    </ul>
                    <p>Mazkur Oferta muddatsiz amal qiladi va belgilangan tartibda uning shartlarini qabul qilgan barcha Buyurtmachilarga tatbiq etiladi.</p>
                    
                    <h2>1. Atamalar va ta’riflar</h2>
                    <p><strong>1.1. Platforma</strong> – “MedMapp” veb va/yoki mobil xizmati bo‘lib, Buyurtmachilarning xorijiy tibbiyot muassasalarini tanlash bo‘yicha so‘rovlarini qabul qilish, bunday muassasalar takliflari haqida ma’lumot taqdim etish, shuningdek Buyurtmachi va tanlangan muassasa o‘rtasida xabar almashish va bron qilish jarayonini tashkil etish uchun mo‘ljallangan.</p>
                    <p><strong>1.2. Buyurtmachi</strong> – to‘liq muomala layoqatiga ega jismoniy shaxs bo‘lib, ushbu Ofertani aksept qilgan va Platformadan faqat shaxsiy, tadbirkorlik faoliyati bilan bog‘liq bo‘lmagan maqsadlarda axborot xizmatlarini olish uchun foydalanadi.</p>
                    <p><strong>1.3. Axborot xizmatlari</strong> – Buyurtmachiga xorijiy tibbiyot muassasalaridagi davolanish variantlari haqida, ushbu muassasalar tomonidan taqdim etilgan ma’lumotlarga asoslangan holda, Platformada joylashtirilgan axborotni taqdim etish, shuningdek texnik jihatdan xabar almashish imkonini yaratish va zarurat tug‘ilganda bron qilishda ko‘maklashish. Ijrochi tibbiy, diagnostika, davolash yoki maslahat xizmatlarini ko‘rsatmaydi.</p>
                    <p><strong>1.4. Aksept</strong> – Buyurtmachining ushbu Oferta shartlariga to‘liq va shartsiz rozi ekanligini tasdiqlovchi harakat bo‘lib, bu Platformada ro‘yxatdan o‘tish orqali ifodalanadi (4-bo‘limga muvofiq).</p>
                    <p><strong>1.5. Tibbiyot muassasasi</strong> – o‘z mamlakati qonunchiligiga muvofiq tibbiy xizmatlar ko‘rsatish huquqiga ega bo‘lgan xorijiy tashkilot bo‘lib, Platformada o‘z takliflarini joylashtirgan.</p>
                    <p><strong>1.6. Shaxsiy kabinet</strong> – Buyurtmachi ro‘yxatdan o‘tgandan keyin unga taqdim etiladigan, uning so‘rovlari, xorijiy tibbiyot muassasalari bilan o‘zaro aloqalari va xizmat ko‘rsatish holati aks etadigan Platformaning shaxsiy bo‘limi.</p>
                    <p><strong>1.7. Mahalliy hamroh</strong> – tibbiy xizmatlar ko‘rsatiladigan mamlakatda yashovchi, Ijrochi tomonidan tekshirilgan va Buyurtmachiga tashkiliy yordam (uchrashuv, kuzatish, maishiy masalalarda yordam, tarjima va h.k.) ko‘rsatadigan jismoniy shaxs. Mahalliy hamroh Ijrochining vakili hisoblanmaydi.</p>

                    <h2>2. Shartnoma predmeti</h2>
                    <p><strong>2.1.</strong> Ushbu Oferta shartlariga muvofiq, Ijrochi Platforma orqali Buyurtmachiga Tibbiyot muassasalari takliflarini qidirish, tanlash va ular haqida ma’lumot berish, Buyurtmachi va tanlangan Tibbiyot muassasasi o‘rtasida xabar almashish imkoniyatini yaratish, Platforma orqali tibbiy xizmatlarni bron qilish va zarurat tug‘ilganda tibbiy xizmatlar ko‘rsatiladigan mamlakatda Mahalliy hamroh bilan bog‘lanishga yordam berish majburiyatini oladi.</p>
                    <p><strong>2.2.</strong> Mahalliy hamroh Buyurtmachi tomonidan Platforma orqali mustaqil tanlanadi va tashkiliy yordam ko‘rsatadi (uchrashuv, kuzatish, maishiy yordam, tarjima va boshqa kelishilgan ishlar). Ijrochi Buyurtmachi va Mahalliy hamroh o‘rtasidagi munosabatlarga taraf bo‘lmaydi, biroq bunday o‘zaro aloqalar yuzasidan tashkilotchilik masalalarida ko‘mak berishga tayyor.</p>
                    <p><strong>2.3.</strong> Ijrochi ko‘rsatadigan axborot xizmatlari tibbiy, diagnostika, davolash yoki maslahat faoliyati hisoblanmaydi. Ijrochi tibbiy xizmat ko‘rsatmaydi, tibbiy aralashuv qilmaydi, tekshiruv o‘tkazmaydi va tibbiy xulosalar bermaydi. Tibbiy xizmatlar olish haqidagi barcha qarorlarni Buyurtmachi tanlangan Tibbiyot muassasasi taqdim etgan ma’lumotlarga asoslanib mustaqil ravishda qabul qiladi.</p>
                    <p><strong>2.4.</strong> Ijrochi faqat axborot vositachisi sifatida Buyurtmachi va Tibbiyot muassasasi o‘rtasidagi muloqot uchun texnik Platformani taqdim etadi va bunday muassasalar vakili yoki agenti hisoblanmaydi. Ijrochi tibbiy xizmatlar sifatini, muddatlarini, hajmini yoki natijalarini nazorat qilish vakolatiga ega emas va ularning oqibatlari uchun javobgar bo‘lmaydi.</p>
                    <p><strong>2.5.</strong> Buyurtmachi tushunadi va rozilik bildiradiki, Tibbiyot muassasasini tanlash, tibbiy xizmatlar hajmi, ularning ko‘rsatish shartlari hamda yakuniy hisob-kitoblar to‘g‘ridan-to‘g‘ri Buyurtmachi va tanlangan Tibbiyot muassasasi o‘rtasida, Ijrochi ishtirokisiz amalga oshiriladi (Platforma orqali bron qilish imkoniyati bundan mustasno).</p>
                    
                    <h2>3. Ijrochining huquqiy maqomi</h2>
                    <p><strong>3.1.</strong> Ijrochi Tibbiyot muassasasi emas, tibbiy faoliyat yuritmaydi, tibbiy xizmat ko‘rsatmaydi, diagnostika, davolash yoki maslahat bermaydi, shuningdek tibbiy xulosa yoki tibbiyot amaliyoti bilan bog‘liq boshqa hujjatlarni rasmiylashtirish huquqiga ega emas.</p>
                    <p><strong>3.2.</strong> Ijrochi Platforma orqali faqat Tibbiyot muassasalari takliflari to‘g‘risidagi ma’lumotni berish, xabar almashish imkoniyatini yaratish va tibbiy xizmatlarni bron qilish imkonini beruvchi axborot xizmatlarini taqdim etadi.</p>
                    <p><strong>3.3.</strong> Ijrochi hech bir Tibbiyot muassasasining vositachisi, vakili yoki agenti emas, ularning manfaatlarida ish yuritmaydi va ular nomidan majburiyatlar olmaydi.</p>
                    <p><strong>3.4.</strong> Ijrochi Buyurtmachi va Tibbiyot muassasasi o‘rtasidagi moliyaviy hisob-kitoblarga aralashmaydi va tibbiy xizmatlar ko‘rsatish shartlari, muddati yoki tartibini belgilamaydi – bu masalalar tomonlar tomonidan bevosita kelishiladi.</p>
                    <p><strong>3.5.</strong> Ijrochi, axborot vositachisi sifatida, Tibbiyot muassasasining tibbiy xizmatlarni ko‘rsatish yoki rad etish, narx, shartlar yoki muddatlarni o‘zgartirish to‘g‘risidagi qarorlariga ta’sir o‘tkaza olmaydi. Shu bilan birga, Ijrochi Buyurtmachi va Tibbiyot muassasasiga yuzaga kelishi mumkin bo‘lgan nizolar va masalalarni hal etishda imkon qadar yordam beradi.</p>

                    <h2>4. Shartnoma tuzish tartibi (Ommaviy ofertani qabul qilish)</h2>
                    <p><strong>4.1.</strong> Oferta qabul qilingan deb hisoblanadi, agar Buyurtmachi uning shartlariga to‘liq va shartsiz rozilik bildirsa hamda Platformada ro‘yxatdan o‘tish jarayonidan o‘tsa.</p>
                    <p><strong>4.2.</strong> Ro‘yxatdan o‘tish jarayoni mobil telefon raqamini kiritish, SMS-kod orqali tasdiqlash hamda Platformada joylashtirilgan shartlarga rozilik bildirishdan iborat.</p>
                    <p><strong>4.3.</strong> Buyurtmachi “Ro‘yxatdan o‘tish” tugmasini bosgan va 4.2-bandda ko‘rsatilgan barcha harakatlarni bajargan paytdan boshlab Ijrochi va Buyurtmachi o‘rtasida Shartnoma tuzilgan hisoblanadi.</p>
                    <p><strong>4.4.</strong> Oferta qabul qilar ekan, Buyurtmachi uning mazmuni bilan tanishganini, shartlarini tushunganini va ularni to‘liq qabul qilganini tasdiqlaydi hamda taqdim etilgan ma’lumotlarning to‘g‘riligiga kafolat beradi.</p>
                    <p><strong>4.5.</strong> Platformada ro‘yxatdan o‘tish va Oferta qabul qilish faqat ushbu Ofertaning 1.2-bandida ko‘rsatilgan talablarga mos shaxslarga ruxsat etiladi.</p>

                    <h2>5. Tomonlarning huquqlari va majburiyatlari</h2>
                    <p><strong>5.1. Ijrochi majbur:</strong></p>
                    <ul>
                        <li>5.1.1. Platforma funksiyalaridan foydalanish imkoniyatini, axborot xizmatlarini ko‘rsatish uchun zarur hajmda, ta’minlash.</li>
                        <li>5.1.2. Platformada tibbiyot muassasalarining takliflari haqidagi o‘zida mavjud eng so‘nggi ma’lumotlarni joylashtirish.</li>
                        <li>5.1.3. Platforma orqali Buyurtmachi va tanlangan tibbiyot muassasasi o‘rtasida xabar almashish imkonini yaratish.</li>
                        <li>5.1.4. Platforma orqali tanlangan tibbiyot muassasasining tibbiy xizmatlarini bron qilish imkonini yaratish.</li>
                        <li>5.1.5. Buyurtmachining shaxsiy ma’lumotlari va boshqa axborotlarini ushbu Ofertaning 8-bo‘limiga muvofiq maxfiy saqlash.</li>
                    </ul>
                    <p><strong>5.2. Ijrochi huquqli:</strong></p>
                    <ul>
                        <li>5.2.1. Buyurtmachi ushbu Oferta yoki qonun talablarini buzgan taqdirda, Platformaga kirish huquqini to‘xtatish yoki bekor qilish.</li>
                        <li>5.2.2. Platforma funksiyalari, axborot xizmatlari ko‘rsatish tartibi va boshqa ish shartlarini o‘zgartirish.</li>
                        <li>5.2.3. Axborot xizmatlari ko‘rsatish uchun zarur bo‘lgan qo‘shimcha ma’lumotlarni Buyurtmachidan talab qilish.</li>
                        <li>5.2.4. 3.7-bandga muvofiq Buyurtmachi va tibbiyot muassasasi o‘rtasida yuzaga kelgan kelishmovchiliklarni hal qilishda ko‘maklashish.</li>
                    </ul>
                    <p><strong>5.3. Buyurtmachi majbur:</strong></p>
                    <ul>
                        <li>5.3.1. Axborot xizmatlari ko‘rsatish uchun zarur bo‘lgan to‘g‘ri ma’lumotlarni Ijrochiga taqdim etish.</li>
                        <li>5.3.2. Platformadan faqat shaxsiy, tadbirkorlik faoliyatiga aloqador bo‘lmagan maqsadlarda foydalanish.</li>
                        <li>5.3.3. Tibbiyot muassasasini tanlash, tibbiy xizmatlar hajmi va shartlarini mustaqil belgilash.</li>
                        <li>5.3.4. Ushbu Oferta talablari va Platformada joylashtirilgan yo‘riqnomalarga rioya qilish.</li>
                    </ul>
                    <p><strong>5.4. Buyurtmachi huquqli:</strong></p>
                    <ul>
                        <li>5.4.1. Ushbu Ofertada belgilangan hajm va shartlarda Ijrochidan axborot xizmatlari olish.</li>
                        <li>5.4.2. Platforma ishlashi va axborot xizmatlari ko‘rsatish tartibi bo‘yicha Ijrochidan izoh so‘rash.</li>
                        <li>5.4.3. Platformadan foydalanishni istalgan vaqtda to‘xtatish, ammo to‘xtatishdan oldin o‘z zimmasidagi majburiyatlarni bajarish.</li>
                    </ul>

                    <h2>6. Xizmatlar narxi</h2>
                    <p><strong>6.1.</strong> Ijrochi tomonidan Platforma orqali ko‘rsatiladigan axborot xizmatlari Buyurtmachiga bepul taqdim etiladi.</p>
                    <p><strong>6.2.</strong> Axborot xizmatlarining bepul bo‘lishi Buyurtmachini ushbu Oferta shartlarini va qonun talablarini bajarishdan ozod etmaydi.</p>
                    <p><strong>6.3.</strong> Platformada uchinchi tomon xizmat ko‘rsatuvchilarining qo‘shimcha xizmatlari (vizalar, tarjimonlar, transport, mehmonxona bron qilish va boshqalar) haqidagi takliflar bo‘lishi mumkin. Bu xizmatlar Ijrochining axborot xizmatlariga kirmaydi, pullik asosda tegishli xizmat ko‘rsatuvchi tomonidan ko‘rsatiladi va ular Buyurtmachi hamda xizmat ko‘rsatuvchi o‘rtasidagi alohida shartnoma bilan tartibga solinadi. Ijrochi bu shartnomalarning tomoni emas va ularning narxi, muddati, hajmi yoki sifatiga javobgar emas.</p>
                    <p><strong>6.4.</strong> Ijrochi kelajakda axborot xizmatlari shartlarini, jumladan ularni pullik qilishni o‘zgartirishi mumkin. Bu haqda Platformada kamida 10 (o‘n) kun oldin e’lon qilinadi.</p>
                    <p><strong>6.5.</strong> Agar axborot xizmatlari pullik qilinsa, Ijrochi Platformada narx, to‘lov usullari va tartibini ko‘rsatadi.</p>
                    <p><strong>6.6.</strong> Pullik xizmatlarga rozi bo‘lmagan Buyurtmachi o‘z vaqtida Platformadan foydalanishni to‘xtatishi mumkin. Davom ettirish esa yangi shartlarga rozilik sifatida qabul qilinadi.</p>

                    <h2>7. Javobgarlik</h2>
                    <p><strong>7.1.</strong> Ijrochi axborot xizmatlarini sifatli ko‘rsatish hamda Buyurtmachining shaxsiy ma’lumotlarini saqlash bo‘yicha ushbu Oferta va O‘zbekiston Respublikasi qonunchiligi talablariga muvofiq javobgar.</p>
                    <p><strong>7.2.</strong> Ijrochi tibbiy xizmatlarning sifati, muddati, hajmi va natijasi, shuningdek, tibbiyot muassasalari tomonidan joylashtirilgan ma’lumotlarning to‘g‘riligi, to‘liqligi va dolzarbligi uchun javobgar emas, biroq yuzaga kelgan masalalarni hal qilishda Buyurtmachiga yordam berishga tayyor.</p>
                    <p><strong>7.3.</strong> Ijrochi Buyurtmachi va tibbiyot muassasasi o‘rtasida tuzilgan shartnomalarning tomoni emas, ularni nazorat qilmaydi va tibbiy xizmat ko‘rsatishni rad etish, narx, shart yoki muddatlarni o‘zgartirish kabi holatlar uchun javobgar emas. Biroq, asosli e’tirozlar mavjud bo‘lsa, murojaatlarni tegishli shaxslarga yetkazishga va imkon qadar yordam berishga tayyor.</p>
                    <p><strong>7.4.</strong> Ijrochi uchinchi tomon xizmat ko‘rsatuvchilari (vizalar, tarjimonlar, transport, mehmonxona va boshqalar) faoliyati uchun javobgar emas, biroq asosli shikoyatlar bo‘lsa, vaziyatni hal qilishga ko‘maklashadi, zarurat bo‘lsa, mahalliy hamrohni almashtirishni tashkil etadi.</p>
                    <p><strong>7.5.</strong> Ijrochi Platforma ishidagi texnik nosozliklar, uchinchi shaxslarning harakatlari, profilaktika ishlari yoki fors-major holatlar sababli yuzaga kelgan uzilishlar uchun javobgar emas va Platformadan foydalanish muayyan sifat, hajm yoki natijaga olib kelishini kafolatlamaydi.</p>
                    <p><strong>7.6.</strong> Buyurtmachi taqdim etgan ma’lumotlarning to‘g‘riligi, tibbiyot muassasasini, uchinchi tomon xizmat ko‘rsatuvchini yoki mahalliy hamrohni tanlash, hamda bu xizmatlarni olish oqibatlari uchun mustaqil javobgar.</p>

                    <h2>8. Konfidensiallik</h2>
                    <p><strong>8.1.</strong> Ijrochi (Bajaruvchi) ushbu Oferta shartlarini bajarish bilan bog‘liq holda Buyurtmachidan olingan ma’lumotlarning konfidensialligini saqlashga va ularni uchinchi shaxslarga oshkor qilmaslikka majbur, bundan ushbu Oferta yoki O‘zbekiston Respublikasi qonunchiligi nazarda tutgan holatlar mustasno.</p>
                    <p><strong>8.2.</strong> Konfidensial ma’lumotlarga quyidagilar kiradi:</p>
                    <ul>
                        <li>8.2.1. Buyurtmachining familiyasi, ismi, aloqa ma’lumotlari va Platformada ro‘yxatdan o‘tish va foydalanish jarayonida ko‘rsatilgan boshqa shaxsiy ma’lumotlari;</li>
                        <li>8.2.2. Buyurtmachining sog‘lig‘i holati to‘g‘risidagi, jumladan, tibbiy sirga oid ma’lumotlar, axborot xizmatlarini ko‘rsatish jarayonida olingan ma’lumotlar;</li>
                        <li>8.2.3. Buyurtmachi tomonidan Ijrochiga taqdim etilgan va erkin tarqatilishi mumkin bo‘lmagan boshqa ma’lumotlar.</li>
                    </ul>
                    <p><strong>8.3.</strong> Shaxsiy ma’lumotlar va tibbiy sirga oid ma’lumotlar Ijrochi tomonidan quyidagi maqsadlarda qayta ishlanadi:</p>
                    <ul>
                        <li>8.3.1. Buyurtmachini Platformada ro‘yxatdan o‘tkazish va unga Platforma funksiyalaridan foydalanish imkoniyatini taqdim etish;</li>
                        <li>8.3.2. Ushbu Oferta shartlarida nazarda tutilgan hajmda axborot xizmatlarini ko‘rsatish;</li>
                        <li>8.3.3. Buyurtmachining Tibbiyot muassasalari bilan o‘zaro aloqasini ta’minlash;</li>
                        <li>8.3.4. Axborot xizmatlarini ko‘rsatish bilan bog‘liq xabar va bildirishnomalarni yuborish;</li>
                        <li>8.3.5. O‘zbekiston Respublikasi qonunchiligi talablarini bajarish.</li>
                    </ul>
                    <p><strong>8.4.</strong> Shaxsiy ma’lumotlar va tibbiy sirga oid ma’lumotlarni uzatish quyidagilarga ruxsat etiladi:</p>
                    <ul>
                        <li>8.4.1. Tibbiyot muassasalariga — faqat tibbiy xizmatlar ko‘rsatish uchun zarur hajmda;</li>
                        <li>8.4.2. Boshqa shaxslarga — faqat O‘zbekiston Respublikasi qonunchiligi bevosita nazarda tutgan holatlarda.</li>
                    </ul>
                    <p><strong>8.5.</strong> Ijrochi shaxsiy ma’lumotlar va tibbiy sirga oid ma’lumotlarni chet elga uzatishga, bunday ma’lumotlar sub’ektlarining huquqlarini yetarli darajada himoya qiluvchi davlatlarga, yoki Buyurtmachi roziligi mavjud bo‘lgan, yoki O‘zbekiston Respublikasi qonunchiligi nazarda tutgan boshqa hollarda haqli.</p>
                    <p><strong>8.6.</strong> Ijrochi konfidensial ma’lumotlarni noqonuniy kirish, o‘zgartirish, oshkor etish, bloklash yoki yo‘q qilishdan himoya qilish uchun zarur tashkiliy va texnik choralarni ko‘radi.</p>
                    <p><strong>8.7.</strong> Shaxsiy ma’lumotlar va tibbiy sirga oid ma’lumotlar Ijrochi tomonidan Shartnoma amal qilgan davr mobaynida saqlanadi.</p>
                    <p><strong>8.8.</strong> Buyurtmachi o‘zining shaxsiy ma’lumotlari va tibbiy sirga oid ma’lumotlarini qayta ishlash to‘g‘risida ma’lumot olish, ularni aniqlashtirish, yangilash, o‘zgartirish yoki yo‘q qilishni talab qilish, shuningdek, ularni qayta ishlashga bergan roziligini O‘zbekiston Respublikasi qonunchiligida belgilangan tartibda qaytarib olish huquqiga ega.</p>

                    <h2>9. Ofertani o‘zgartirish va bekor qilish</h2>
                    <p><strong>9.1.</strong> Ijrochi istalgan vaqtda ushbu Oferta shartlarini Platformada uning yangi tahririni joylashtirish orqali o‘zgartirish huquqiga ega.</p>
                    <p><strong>9.2.</strong> Buyurtmachi mustaqil ravishda va muntazam ravishda Platformada joylashtirilgan Ofer­taning amaldagi tahririni kuzatib borishi va o‘z vaqtida tanishmaslik bilan bog‘liq barcha xavf va oqibatlarni o‘z zimmasiga oladi.</p>
                    <p><strong>9.3.</strong> Barcha o‘zgarishlar Platformada e’lon qilingan paytdan boshlab kuchga kiradi va e’lon qilinganidan so‘ng Platformadan foydalanishni to‘xtatmagan barcha Buyurtmachilarga tatbiq etiladi.</p>
                    <p><strong>9.4.</strong> Buyurtmachining Ofertaning yangi tahririni qabul qilganligi, e’lon qilingan sanadan keyin Platformadan foydalanishni davom ettirish orqali tasdiqlanadi.</p>
                    <p><strong>9.5.</strong> Muayyan Buyurtmachiga nisbatan Oferta quyidagi hollarda Platformadan foydalanish to‘xtatilganda bekor qilinadi, jumladan:</p>
                    <ul>
                        <li>9.5.1. Buyurtmachining ixtiyoriy ravishda voz kechishi, jumladan, hisob qaydini uning so‘rovi bo‘yicha o‘chirish;</li>
                        <li>9.5.2. Ijrochi tashabbusi bilan, Buyurtmachi ushbu Oferta shartlarini yoki qonunchilik talablarini buzganligi sababli, hisob qaydini o‘chirish.</li>
                    </ul>

                    <h2>10. Platforma va kontentga bo‘lgan huquqlar</h2>
                    <p><strong>10.1.</strong> Platformaga bo‘lgan barcha mutlaq huquqlar, jumladan, uning dastur kodi, tuzilishi, dizayni, foydalanuvchi interfeysi, matn va grafik materiallari, fotosuratlar, illyustratsiyalar, ma’lumotlar bazalari, shuningdek boshqa elementlari Ijrochiga tegishli bo‘lib, O‘zbekiston Respublikasi qonunchiligi va xalqaro shartnomalar asosida himoya qilinadi.</p>
                    <p><strong>10.2.</strong> Buyurtmachiga Platformadan faqat ushbu Oferta bilan belgilangan tartibda va axborot xizmatlarini olish uchun zarur hajmda foydalanish bo‘yicha cheklangan, o‘tkazilmaydigan va bekor qilinadigan huquq beriladi.</p>
                    <p><strong>10.3.</strong> Platforma elementlaridan ushbu Oferta shartlaridan tashqarida foydalanish, jumladan, nusxa olish, o‘zgartirish, tarqatish, chop etish, uchinchi shaxslarga uzatish yoki boshqa tarzda foydalanish faqat Ijrochining yozma roziligi bilan ruxsat etiladi.</p>
                    <p><strong>10.4.</strong> Platforma va uning elementlariga bo‘lgan huquqlarning buzilishi O‘zbekiston Respublikasi qonunchiligiga muvofiq javobgarlikka sabab bo‘ladi.</p>

                    <h2>11. Boshqa shartlar</h2>
                    <p><strong>11.1.</strong> Ushbu Oferta hamda Ijrochi va Buyurtmachi o‘rtasida uning bajarilishi bilan bog‘liq barcha munosabatlar O‘zbekiston Respublikasi qonunchiligi asosida tartibga solinadi va talqin qilinadi.</p>
                    <p><strong>11.2.</strong> Ushbu Ofertani bajarish doirasidagi barcha bildirishnomalar, xabarlar, da’volar va boshqa yozishmalar Tomonlar tomonidan Platforma orqali, elektron pochta orqali yoki yuborilgan va olinganligini tasdiqlash imkonini beruvchi boshqa usul orqali amalga oshiriladi.</p>
                    <p><strong>11.3.</strong> Ushbu Ofertani bajarish yoki talqin qilish bilan bog‘liq barcha nizolar va kelishmovchiliklar Tomonlar o‘rtasidagi muzokaralar yo‘li bilan hal etiladi.</p>
                    <p><strong>11.4.</strong> Muzokaralar orqali nizo hal etilmagan taqdirda, u Ijrochi joylashgan joy bo‘yicha O‘zbekiston Respublikasi sud organlarida ko‘rib chiqiladi.</p>
                    <p><strong>11.5.</strong> Ushbu Ofertaning bir yoki bir nechta bandlari haqiqiy emas deb topilishi uning boshqa bandlarining haqiqiyligiga ta’sir qilmaydi. Haqiqiy emas deb topilgan band uning dastlabki maqsadlariga maksimal darajada mos keladigan boshqa band bilan almashtiriladi.</p>
                    <p><strong>11.6.</strong> Ijrochining har qanday vaqtda Buyurtmachidan ushbu Ofertaning istalgan bandini bajarishni talab qilmasligi kelajakda bunday talab qilish huquqidan voz kechish sifatida talqin etilmaydi.</p>
                    <p><strong>11.7.</strong> Ushbu Oferta Platformada ochiq tarzda joylashtirilgan bo‘lib, Buyurtmachi tomonidan uni qabul qilgan paytdan boshlab Ijrochi uchun majburiy hisoblanadi va uning amal qilish muddati 9-bo‘limda belgilangan tartibda tugaguncha davom etadi.</p>

                    <h2>12. Ijrochi rekvizitlari</h2>
                    <p>
                        <strong>«MEDMAPP» Mas’uliyati cheklangan jamiyati</strong><br>
                        <strong>STIR:</strong> 312319171<br>
                        <strong>Yuridik manzil:</strong> O‘zbekiston Respublikasi, Sirdaryo viloyati, Guliston shahri, “Yangi Hayot” mahallasi, O‘zbekiston shoh ko‘chasi, 11-uy<br>
                        <strong>Bank:</strong> AJ «Aloqabank», Guliston filiali<br>
                        <strong>Hisob raqami:</strong> 20208000807282604001<br>
                        <strong>Sayt:</strong> www.medmapp.uz
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<footer class="site-footer">
    <div class="container">
        
        <div class="footer-main-grid">
            <div class="footer-column">
                <a href="/" class="header-logo">
                <img src="../images/logo/MedMapp_Logo.png" alt="MedMapp Logosi" class="footer-logo">
                </a>
                <p class="footer-about-text">
                    MedMapp - bu sizning Hindistondagi ishonchli tibbiy hamrohingiz. Biz eng yaxshi klinikalarda sifatli va hamyonbop davolanishni tashkil etamiz.
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/medmapp_uz" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
                    <a href="https://www.instagram.com/medmapp_uz" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a>
                    <a href="https://t.me/medmapp_uz" target="_blank" aria-label="Telegram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"/><path d="M22 2 11 13"/></svg></a>
                    <a href="https://www.youtube.com/medmapp_uz" aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10C2.5 6 4.5 4 7 4h10c2.5 0 4.5 2 4.5 3.5a24.12 24.12 0 0 1 0 10c0 1.5-2 3.5-4.5 3.5H7c-2.5 0-4.5-2-4.5-3.5Z"/><path d="m10 15 5-3-5-3z"/></svg></a>
                </div>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Menyu</h4>
                <ul class="footer-links">
                    <li><a href="services.html">Xizmatlar</a></li>
                    <li><a href="clinics.html">Shifoxonalar</a></li>
                    <li><a href="pricing.html">Narxlar</a></li>
                    <li><a href="doctors.html">Shifokorlar</a></li>
                    <li><a href="testimonials.html">Sharhlar</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Asosiy yo'nalishlar</h4>
                <ul class="footer-links">
                    <li><a href="#">Kardiologiya</a></li>
                    <li><a href="#">Onkologiya</a></li>
                    <li><a href="#">Neyroxirurgiya</a></li>
                    <li><a href="#">Ortopediya</a></li>
                    <li><a href="#">Transplantatsiya</a></li>
                    <li><a href="#">Kosmetik jarrohlik</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Biz bilan bog'laning</h4>
                <ul class="footer-contact">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/><circle cx="12" cy="10" r="3"/></svg>
                        <span>Sirdaryo viloyati, O'zbekiston</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2 4.18 2 2 0 0 1 4.18 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
                        <span>+998(77) 535-66-55</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                        <span>info@medmapp.uz</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p class="copyright">&copy; 2025 MedMapp. Barcha huquqlar himoyalangan.</p>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            <div class="footer-legal-links">
                    <a href="privacy-policy.html">Maxfiylik siyosati</a>
                    <a href="terms-of-use.html">Foydalanuvchi kelishuvi</a>
                    <a href="public-offer.html">Ommaviy oferta</a>
                </div>
        </div>
    </div>

    <!-- YANGI: Muvaffaqiyat/Xatolik uchun Modal Oyna -->
    <div id="status-modal" class="modal-overlay">
        <div class="modal-content">
            <div id="modal-icon-container">
                <!-- Ikona JavaScript orqali qo'yiladi -->
            </div>
            <h2 id="modal-title"></h2>
            <p id="modal-message"></p>
            <button id="modal-close-btn" class="modal-button">Yopish</button>
        </div>
    </div>

</footer>
    
    
<!-- Pop-up Modal -->
<div id="formModal" class="modal fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4 opacity-0 invisible z-[9999]">
    <!-- O'zgarish: Modalga maksimal balandlik berildi (max-h-[95vh]) -->
    <div class="modal-content w-full max-w-2xl mx-auto bg-white rounded-2xl shadow-2xl flex flex-col transform scale-95 max-h-[95vh]">
        
        <!-- Forma qismi -->
        <!-- O'zgarish: Keraksiz bo'sh joyni olib tashlash uchun flex-grow olib tashlandi. Endi skroll faqat kerak bo'lganda paydo bo'ladi. -->
        <div class="relative p-1 flex flex-col overflow-y-auto">
            <button id="closeModalBtn" class="absolute top-0 right-0 text-gray-400 hover:text-gray-600 transition z-10">
                <i class="ph-bold ph-x text-2xl"></i>
            </button>
            <div class="flex-shrink-0">
                <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-2">Konsultatsiya uchun anketa</h1>
                <!-- O'zgarish: Pastki bo'shliq kamaytirildi (mb-4) -->
                <p class="text-gray-500 mb-4">Xorijiy klinikadan BEPUL tibbiy tashxis olish uchun formani to'ldiring!</p>
            </div>
            
            <!-- O'zgarish: Keraksiz bo'sh joyni olib tashlash uchun flex-grow olib tashlandi -->
            <form id="bitrixForm" class="space-y-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                    <div>
                        <label for="name" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-user text-base mr-2 text-gray-500"></i>
                            Ism-familiya <span class="text-red-500 ml-1">*</span>
                        </label>
                        <input type="text" id="name" required class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="F.I.O">
                    </div>
                    <div>
                        <label for="dob" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                           <i class="ph ph-calendar text-base mr-2 text-gray-500"></i>
                           Tug'ilgan sana <span class="text-red-500 ml-1">*</span>
                        </label>
                        <input type="text" id="dob" required class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="kun.oy.yil">
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                    <div>
                         <label for="phone" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-phone text-base mr-2 text-gray-500"></i>
                            Telefon raqamingiz <span class="text-red-500 ml-1">*</span>
                        </label>
                        <div class="flex items-center">
                            <span class="inline-flex items-center px-3 text-gray-500 bg-gray-100 border border-r-0 border-gray-200 rounded-l-lg h-full py-2 text-sm">+998</span>
                            <input type="tel" id="phone" required class="w-full px-3 py-2 border border-l-0 border-gray-200 bg-gray-50 rounded-r-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="(90) 123-45-67">
                        </div>
                    </div>
                    <div>
                        <label for="email" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-envelope-simple text-base mr-2 text-gray-500"></i>
                            E-mail
                        </label>
                        <input type="email" id="email" class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="e-mail@gmail.com">
                    </div>
                </div>
                
                <div>
                    <label for="requirements" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                        <i class="ph ph-chat-circle-dots text-base mr-2 text-gray-500"></i>
                        Sizni nima bezovta qilmoqda?
                    </label>
                    <textarea id="requirements" rows="3" class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="Avvalgi tashxislar (mavjud bo'lsa)"></textarea>
                </div>

                <div>
                    <label class="flex items-center mb-0 text-sm font-medium text-gray-700">
                        <i class="ph ph-file-arrow-up text-base mr-2 text-gray-500"></i>
                        Tibbiy fayllar <span class="text-red-500 ml-1">*</span>
                    </label>
                    <div id="dropZone" class="w-full px-4 py-3 border-2 border-dashed border-gray-300 rounded-lg hover:border-blue-400 transition-colors">
                        <label for="medicalFiles" class="flex items-center justify-center text-gray-500 cursor-pointer">
                            <i class="ph ph-paperclip text-lg mr-2"></i>
                            <span id="fileName" class="text-sm text-center">Fayllarni tanlang yoki bu yerga tashlang</span>
                        </label>
                        <input type="file" id="medicalFiles" class="hidden" multiple>
                    </div>
                    <div id="fileList" class="mt-2 flex flex-wrap gap-2"></div>
                </div>

                <div class="pt-0">
                    <div class="flex items-start">
                        <input type="checkbox" id="terms" required class="h-4 w-4 mt-0.5 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                        <label for="terms" class="ml-0 block text-sm text-gray-700" style="font-size: 0.7rem;">
                            Men kiritgan barcha ma'lumotlarning to'g'riligini tasdiqlayman hamda <a href="https://medmapp.uz/public-offer" target="_blank" class="text-blue-600 hover:underline font-medium">Ommaviy oferta</a> va <a href="https://medmapp.uz/privacy-policy" target="_blank" class="text-blue-600 hover:underline font-medium">Maxfiylik siyosati</a> bilan tanishib chiqdim. <span class="text-red-500">*</span>
                        </label>
                    </div>
                </div>

                <button type="submit" id="submitButton" class="w-full flex-shrink-0 flex items-center justify-center bg-blue-600 text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300 disabled:bg-blue-400">
                    <i class="ph ph-paper-plane-tilt text-xl mr-2"></i>
                    Yuborish
                </button>
            </form>
            <div id="statusMessage" class="mt-4 text-center text-sm font-medium flex-shrink-0"></div>
        </div>
    </div>
</div>

<!-- Muvaffaqiyatli xabar oynasi -->
<div id="successModal" class="success-modal fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4 opacity-0 invisible z-[9999]">
    <div class="success-modal-content bg-white rounded-2xl shadow-xl p-8 text-center max-w-sm mx-auto transform scale-95">
        <div class="w-16 h-16 bg-green-100 rounded-full flex items-center justify-center mx-auto mb-4">
            <i class="ph-bold ph-check text-4xl text-green-500"></i>
        </div>
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Muvaffaqiyatli!</h2>
        <p class="text-gray-600 mb-6">Sizning tibbiy konsultatsiya olish uchun arizangiz qabul qilindi! <br> Tez orada mutaxassislarimiz siz bilan bog'lanishadi.</p>
        <button id="closeSuccessModalBtn" class="w-full bg-blue-600 text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300">Yopish</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/uz_latn.js"></script>
<script src="https://unpkg.com/imask"></script>

<script src="../config.js"></script>
<script src="../script.js"></script>

    <script>
    (function(w,d,u){
            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
    })(window,document,'https://cdn-ru.bitrix24.ru/b35079736/crm/site_button/loader_2_t814vm.js');
</script>

</body>
    </html>
