<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности | MedMapp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="medmapp, medmapp ru, MedMapp, MedMapp ru, Индия, пересадка почки, пересадка печени, операция, медицинский туризм">
    <meta name="description" content="Лечитесь в самых известных больницах Индии по доступным и прозрачным ценам через платформу MedMapp!">

    <meta property="og:title" content="Официальный сайт платформы MedMapp">
    <meta property="og:description" content="Лечитесь в самых известных больницах Индии по доступным и прозрачным ценам через платформу MedMapp!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://medmapp.uz/">
    <meta property="og:image" content="https://medmapp.uz/images/logo/MedMapp_Logo.png" />
    <meta property="og:site_name" content="medmapp.uz">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../images/logo/favicon.png">

    <link rel="stylesheet" href="../style.css">
    

    <meta name='dmca-site-verification' content='NEJLMXowYndsRUJBSlVwRS9yRWJFUT090' /> <!-- Hotjar Tracking Code for Site 6516105  -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:6516105,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WFJ5QFG709"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WFJ5QFG709');
    </script>

</head>
<body>

    <header class="header scrolled">
    <a href="/ru/" class="header-logo">
        <img src="../images/logo/MedMapp_Logo.png" alt="Логотип MedMapp">
    </a>
    
    <nav class="header-nav" id="header-nav">
        <div class="mobile-nav-header">
            <img src="../images/logo/favicon.png" alt="MedMapp" class="mobile-nav-logo">
            <h3 class="mobile-nav-title">Меню</h3>
        </div>

        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="clinics.html">Больницы</a></li>
            <li><a href="pricing.html">Цены</a></li>
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="testimonials.html">Отзывы</a></li>
            <li><a href="blog.html">Блог</a></li>
        </ul>

        <div class="mobile-nav-footer">
            
            <div class="auth-buttons">
                <button id="openModalBtn" class="signup-btn" style="color: white!important;">
                    <i class="ph-bold ph-heartbeat text-xl mr-2"></i>
                    <span>Медицинская консультация</span>
                </button>
            </div>
        </div>
    </nav>

     <div class="header-right-container">
        <div class="header-actions">
            <div class="language-selector-wrapper">
                <button class="language-selector-btn" id="desktop-lang-btn">
                    <div class="lang-text-group">
                        <img id="desktop-selected-lang-flag" src="../images/language/ru.png" alt="Флаг России" class="lang-flag">
                        <span id="desktop-selected-lang-text">RU</span>
                    </div>
                    <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
                <ul class="language-dropdown" id="desktop-lang-dropdown">
                    <li><a href="../uz/privacy-policy.html" data-lang="uz"><img src="../images/language/uz.png" alt="Флаг Узбекистана" class="lang-flag"> O'zbekcha</a></li>
                    <li><a href="../ru/privacy-policy.html" data-lang="ru" class="selected"><img src="../images/language/ru.png" alt="Флаг России" class="lang-flag"> Русский</a></li>
                    <li><a href="../en/privacy-policy.html" data-lang="en"><img src="../images/language/en.png" alt="Флаг Великобритании" class="lang-flag"> English</a></li>
                </ul>
            </div>
            <div class="auth-buttons">
                <button id="openModalBtn" class="signup-btn" style="color: white!important;">
                    <i class="ph-bold ph-heartbeat text-xl mr-2"></i>
                    <span>Медицинская консультация</span>
                </button>
            </div>
        </div>

        <!-- MOBIL UCHUN TIL TANLASH -->
            <div class="mobile-header-actions">
                <div class="language-selector-wrapper">
                    <button class="language-selector-btn" id="mobile-header-lang-btn">
                        <div class="lang-text-group">
                            <img id="mobile-header-selected-lang-flag" src="../images/language/ru.png" alt="Флаг России" class="lang-flag">
                            <span id="mobile-header-selected-lang-text">RU</span>
                        </div>
                        <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                    </button>
                    <ul class="language-dropdown" id="mobile-header-lang-dropdown">
                        <li><a href="../uz/privacy-policy.html" data-lang="uz"><img src="../images/language/uz.png" alt="Uzbekistan Bayrog'i" class="lang-flag"> O'zbekcha</a></li>
                        <li><a href="../ru/privacy-policy.html" data-lang="ru" class="selected"><img src="../images/language/ru.png" alt="Rossiya Bayrog'i" class="lang-flag"> Русский</a></li>
                        <li><a href="../en/privacy-policy.html" data-lang="en"><img src="../images/language/en.png" alt="Buyuk Britaniya Bayrog'i" class="lang-flag"> English</a></li>
                    </ul>
                </div>
            </div>

        <button class="hamburger-menu" id="hamburger-menu" aria-label="Открыть/закрыть меню" aria-controls="header-nav" aria-expanded="false">
            <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </button>
    </div>
</header>

    <main class="main-content">
        <div class="container">
            <div class="policy-card">
                <div class="policy-header">
                    <div class="header-content">
                        <div class="header-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                            </svg>
                        </div>
                    <h1 class="policy-title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
                </div>
                </div>

                <div class="policy-content-wrapper">
                    <div class="prose">
                    <p>Настоящая Политика конфиденциальности (далее — «Политика») регулирует порядок и условия обработки персональных данных и сведений, относящихся к врачебной тайне, в рамках оказания информационных услуг посредством веб- и/или мобильного сервиса «MedMapp» (далее — «Платформа»), принадлежащего и администрируемого Обществом с ограниченной ответственностью «MEDMAPP» (ИНН 312319171, далее — «Исполнитель»).</p>
                    <p>Использование Платформы, регистрация в личном кабинете, передача персональных данных и сведений медицинского характера, равно как и иное взаимодействие с Исполнителем в рамках договорных отношений, означает полное и безусловное согласие Пользователя с условиями настоящей Политики, включая согласие на обработку данных в порядке и на условиях, установленных законодательством и данной Политикой.</p>
                    
                    <h2>Термины и определения</h2>
                    <p>В целях настоящей Политики используются следующие термины:</p>
                    <p><strong>Платформа</strong> — веб- и/или мобильный сервис «MedMapp», принадлежащий и администрируемый Исполнителем, предназначенный для оказания информационных услуг Пользователям, включая техническую возможность обмена сообщениями и передачи данных медицинского характера.</p>
                    <p><strong>Исполнитель</strong> — Общество с ограниченной ответственностью «MEDMAPP» (ИНН 312319171), осуществляющее администрирование Платформы и оказывающее Пользователям информационные услуги в порядке, установленном настоящей Политикой.</p>
                    <p><strong>Пользователь</strong> — физическое лицо, обладающее полной дееспособностью, зарегистрированное на Платформе и использующее её функционал.</p>
                    <p><strong>Персональные данные</strong> — любая информация, относящаяся к прямо или косвенно определённому или определяемому физическому лицу (субъекту персональных данных), включая идентификационные и контактные сведения, а также сведения медицинского характера.</p>
                    <p><strong>Сведения, относящиеся к врачебной тайне</strong> — сведения о факте обращения за медицинской помощью, состоянии здоровья Пользователя, диагнозе и иные сведения, полученные в процессе оказания медицинских услуг, разглашение которых запрещено без согласия субъекта данных, за исключением случаев, предусмотренных законодательством.</p>
                    <p><strong>Медицинское учреждение</strong> — организация, зарегистрированная и действующая в соответствии с законодательством своей страны, оказывающая медицинские услуги и взаимодействующая с Пользователем через Платформу.</p>

                    <h2>1. Общие положения</h2>
                    <p><strong>1.1.</strong> Настоящая Политика определяет порядок, условия и цели получения, хранения, обработки, использования, передачи и защиты персональных данных и сведений, относящихся к врачебной тайне, обрабатываемых Исполнителем при оказании информационных услуг посредством Платформы.</p>
                    <p><strong>1.2.</strong> Действие Политики распространяется на все персональные данные и сведения медицинского характера, полученные Исполнителем от Пользователей Платформы.</p>
                    <p><strong>1.3.</strong> Исполнитель обеспечивает обработку данных исключительно в объёме, необходимом для исполнения договорных обязательств и требований законодательства, с применением организационных и технических мер, направленных на защиту данных от неправомерного доступа, изменения, раскрытия или уничтожения.</p>

                    <h2>2. Состав обрабатываемых данных</h2>
                    <p><strong>2.1.</strong> Исполнитель обрабатывает следующие категории данных Пользователей Платформы:</p>
                    <ul>
                        <li><strong>2.1.1. Идентификационные и контактные данные:</strong> фамилия, имя, отчество (при наличии), дата рождения, пол, серия и номер паспорта/ID-карты (при необходимости идентификации), номер контактного телефона, адрес электронной почты.</li>
                        <li><strong>2.1.2. Сведения медицинского характера (врачебная тайна):</strong> жалобы, описание симптомов, предварительные диагнозы, сведения о проведённых обследованиях и лечении, иная информация о состоянии здоровья в объёме, необходимом для достижения целей, указанных в Политике.</li>
                        <li><strong>2.1.3. Документы медицинского характера:</strong> выписки, направления, результаты анализов, иные медицинские документы, содержащие персональные данные и сведения о здоровье, в объёме, достаточном для информационного взаимодействия с выбранным Медицинским учреждением.</li>
                        <li><strong>2.1.4. Данные коммуникаций в Платформе:</strong> содержание и метаданные сообщений, переписка с медицинскими учреждениями и/или службой поддержки, история выбранных опций подбора лечения/клиники, отметки о просмотре и отправке сообщений, дата и время совершения действий в Личном кабинете.</li>
                    </ul>

                    <h2>3. Цели обработки данных</h2>
                    <p><strong>3.1.</strong> Обработка персональных данных и сведений, относящихся к врачебной тайне, осуществляется Исполнителем в целях:</p>
                    <ul>
                        <li>3.1.1. Регистрация Пользователя на Платформе, создание и ведение учётной записи, предоставление доступа к функционалу Личного кабинета.</li>
                        <li>3.1.2. Приём, хранение и передача в выбранное Медицинское учреждение сведений и документов медицинского характера в объёме, необходимом для оказания медицинских услуг.</li>
                        <li>3.1.3. Организация информационного взаимодействия между Пользователем и Медицинским учреждением, включая техническое обеспечение обмена сообщениями и возможность бронирования медицинских услуг через Платформу.</li>
                        <li>3.1.4. Направление Пользователю уведомлений, сообщений и иной информации, связанной с использованием Платформы и оказанием информационных услуг.</li>
                        <li>3.1.5. Обеспечение функционирования и безопасности Платформы, предотвращение неправомерного доступа, утраты, изменения, блокирования или уничтожения данных.</li>
                        <li>3.1.6. Исполнение требований законодательства Республики Узбекистан, включая предоставление данных уполномоченным государственным органам в случаях, установленных законом.</li>
                        <li>3.1.7. Урегулирование претензий, защита прав и законных интересов Исполнителя и/или Пользователя.</li>
                        <li>3.1.8. Формирование статистической и аналитической отчётности об использовании Платформы при условии обезличивания данных.</li>
                    </ul>
                    <p><strong>3.2.</strong> Обработка персональных данных и сведений, относящихся к врачебной тайне, осуществляется в объёме, необходимом и достаточном для достижения указанных целей, с соблюдением принципов законности, минимизации и конфиденциальности, и прекращается по достижении целей обработки либо по истечении сроков хранения, установленных законодательством.</p>
                    <p><strong>3.3.</strong> При передаче данных третьим лицам Исполнитель обеспечивает передачу исключительно в объёме, необходимом для достижения целей обработки, и требует от таких лиц соблюдения режима конфиденциальности и защиты данных в соответствии с законодательством.</p>

                    <h2>4. Правовые основания обработки</h2>
                    <p><strong>4.1.</strong> Обработка персональных данных и сведений, относящихся к врачебной тайне, осуществляется Исполнителем на основании:</p>
                    <ul>
                        <li>4.1.1. Согласия Пользователя на обработку персональных данных и сведений, относящихся к врачебной тайне.</li>
                        <li>4.1.2. Необходимости исполнения обязательств Исполнителя перед Пользователем, вытекающих из заключённого между ними договора оказания информационных услуг.</li>
                        <li>4.1.3. Необходимости исполнения требований законодательства Республики Узбекистан.</li>
                        <li>4.1.4. Необходимости защиты прав, законных интересов, жизни и здоровья Пользователя или иных лиц в случаях, предусмотренных законодательством Республики Узбекистан.</li>
                    </ul>
                     <p><strong>4.2.</strong> Согласие Пользователя оформляется в электронной форме путём совершения действий, однозначно подтверждающих его волю, включая регистрацию на Платформе, отправку данных через формы Платформы или иное использование функционала, предполагающего передачу данных.</p>
                    <p><strong>4.3.</strong> При наступлении оснований, установленных законодательством, Исполнитель вправе обрабатывать персональные данные и сведения, относящиеся к врачебной тайне, без согласия Пользователя.</p>
                    <p><strong>4.4.</strong> Обработка данных в рамках трансграничной передачи осуществляется при условии обеспечения надлежащего уровня защиты прав субъектов данных в государстве получателя или при наличии согласия Пользователя.</p>

                    <h2>5. Передача данных третьим лицам</h2>
                    <p><strong>5.1.</strong> Передача персональных данных и сведений, относящихся к врачебной тайне, третьим лицам допускается исключительно в следующих случаях:</p>
                    <ul>
                        <li><strong>5.1.1. Медицинским учреждениям</strong> — в объёме, необходимом для оказания медицинских услуг, выбранных Пользователем, включая иностранные медицинские учреждения, с которыми осуществляется информационное взаимодействие посредством Платформы. В случае передачи данных иностранным медицинским учреждениям такая передача является трансграничной и осуществляется при условии соблюдения ими режима конфиденциальности и обеспечения уровня защиты данных, не ниже установленного законодательством Республики Узбекистан.</li>
                        <li><strong>5.1.2. Уполномоченным государственным органам</strong> — в случаях и порядке, установленных законодательством Республики Узбекистан.</li>
                    </ul>
                    <p><strong>5.2.</strong> При передаче данных третьим лицам Исполнитель обеспечивает передачу исключительно в объёме, необходимом для достижения целей обработки, и требует от таких лиц соблюдения режима конфиденциальности и защиты данных в соответствии с законодательством.</p>
                    <p><strong>5.3.</strong> Согласие на трансграничную передачу персональных данных и сведений, относящихся к врачебной тайне, считается данным Пользователем в момент направления таких данных через Платформу в выбранное иностранное медицинское учреждение.</p>

                    <h2>6. Хранение и защита данных</h2>
                    <p><strong>6.1.</strong> Исполнитель хранит персональные данные и сведения, относящиеся к врачебной тайне, в форме, позволяющей определить субъекта данных, в течение срока, необходимого для достижения целей обработки, либо в течение сроков, установленных законодательством Республики Узбекистан.</p>
                    <p><strong>6.2.</strong> По достижении целей обработки либо по истечении установленных сроков хранения данные подлежат уничтожению или обезличиванию, если иное не предусмотрено законодательством Республики Узбекистан.</p>
                    <p><strong>6.3.</strong> Исполнитель принимает необходимые организационные и технические меры для защиты персональных данных и сведений, относящихся к врачебной тайне, от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий.</p>
                    <p><strong>6.4.</strong> В случаях, когда взаимодействие с Медицинскими учреждениями требует хранения данных за пределами территории Республики Узбекистан, Исполнитель обеспечивает, чтобы такие учреждения или иные лица, на чьих ресурсах хранятся данные, соблюдали требования конфиденциальности и обеспечивали уровень защиты, не ниже установленного законодательством Республики Узбекистан.</p>

                    <h2>7. Права Пользователя</h2>
                    <p><strong>7.1.</strong> Пользователь имеет право:</p>
                    <ul>
                        <li>7.1.1. Получать от Исполнителя информацию, касающуюся обработки его персональных данных и сведений, относящихся к врачебной тайне, включая сведения о факте обработки, целях, способах, сроках хранения, категориях данных, а также о третьих лицах, которым такие данные передаются.</li>
                        <li>7.1.2. Требовать уточнения, обновления, изменения или дополнения своих персональных данных и сведений, относящихся к врачебной тайне, если они являются неполными, устаревшими, неточными или избыточными.</li>
                        <li>7.1.3. Требовать уничтожения своих персональных данных и сведений, относящихся к врачебной тайне, при достижении целей обработки либо в случае отзыва согласия на их обработку, за исключением случаев, когда хранение данных обязательно в соответствии с законодательством Республики Узбекистан.</li>
                        <li>7.1.4. Отзывать согласие на обработку персональных данных и сведений, относящихся к врачебной тайне, включая согласие на их трансграничную передачу, путём направления письменного или электронного уведомления Исполнителю.</li>
                        <li>7.1.5. Ограничивать способы и формы обработки своих данных, если это не препятствует исполнению обязательств Исполнителя и не противоречит требованиям законодательства Республики Узбекистан.</li>
                    </ul>
                    <p><strong>7.2.</strong> Реализация Пользователем своих прав осуществляется в порядке, установленном законодательством Республики Узбекистан и настоящей Политикой.</p>

                    <h2>8. Заключительные положения</h2>
                    <p><strong>8.1.</strong> Настоящая Политика размещается в открытом доступе на Платформе и применяется ко всем Пользователям с момента её опубликования, если иное не установлено в самой Политике.</p>
                    <p><strong>8.2.</strong> Исполнитель вправе вносить изменения в настоящую Политику в одностороннем порядке. Новая редакция Политики вступает в силу с момента её размещения на Платформе, если иной срок не указан в публикации.</p>
                    <p><strong>8.3.</strong> Пользователь обязан самостоятельно отслеживать актуальную редакцию Политики, размещённую на Платформе, и несёт риск последствий, связанных с её не ознакомлением после внесения изменений.</p>
                    <p><strong>8.4.</strong> Продолжение использования Платформы после вступления в силу изменений в Политике считается согласием Пользователя с её новой редакцией.</p>
                    <p><strong>8.5.</strong> В случае признания какого-либо положения настоящей Политики недействительным или неисполнимым, остальные положения сохраняют свою силу и подлежат исполнению.</p>
                    <p><strong>8.6.</strong> Все отношения, связанные с обработкой персональных данных и сведений, относящихся к врачебной тайне, не урегулированные настоящей Политикой, регулируются законодательством Республики Узбекистан.</p>
                    
                    <h2>Реквизиты Исполнителя</h2>
                    <p>
                        <strong>Общество с ограниченной ответственностью «MEDMAPP»</strong><br>
                        <strong>ИНН:</strong> 312319171<br>
                        <strong>Юридический адрес:</strong> Республика Узбекистан, Сырдарьинская область, г. Гулистан, махалля «Янги Хаёт», проспект Узбекистан, дом 11<br>
                        <strong>Банк:</strong> АО «Aloqabank», Гулистанский филиал<br>
                        <strong>Расчётный счёт:</strong> 20208000807282604001<br>
                        <strong>Сайт:</strong> www.medmapp.uz
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<footer class="site-footer">
    <div class="container">
        
        <div class="footer-main-grid">
            <div class="footer-column">
                <a href="/ru/" class="header-logo">
                <img src="../images/logo/MedMapp_Logo.png" alt="MedMapp Logosi" class="footer-logo">
                </a>
                <p class="footer-about-text">
                    MedMapp - ваш надежный медицинский спутник в Индии. Мы организуем качественное и доступное лечение в лучших клиниках.
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/medmapp_uz" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
                    <a href="https://www.instagram.com/medmapp_uz" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a>
                    <a href="https://t.me/medmapp_uz" target="_blank" aria-label="Telegram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"/><path d="M22 2 11 13"/></svg></a>
                    <a href="https://www.youtube.com/medmapp_uz" aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10C2.5 6 4.5 4 7 4h10c2.5 0 4.5 2 4.5 3.5a24.12 24.12 0 0 1 0 10c0 1.5-2 3.5-4.5 3.5H7c-2.5 0-4.5-2-4.5-3.5Z"/><path d="m10 15 5-3-5-3z"/></svg></a>
                </div>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Меню</h4>
                <ul class="footer-links">
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="clinics.html">Больницы</a></li>
                    <li><a href="pricing.html">Цены</a></li>
                    <li><a href="doctors.html">Врачи</a></li>
                    <li><a href="testimonials.html">Отзывы</a></li>
                    <li><a href="blog.html">Блог</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Основные направления</h4>
                <ul class="footer-links">
                    <li><a href="#">Кардиология</a></li>
                    <li><a href="#">Онкология</a></li>
                    <li><a href="#">Нейрохирургия</a></li>
                    <li><a href="#">Ортопедия</a></li>
                    <li><a href="#">Трансплантация</a></li>
                    <li><a href="#">Косметическая хирургия</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Свяжитесь с нами</h4>
                <ul class="footer-contact">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/><circle cx="12" cy="10" r="3"/></svg>
                        <span>Сырдарьинская область, Узбекистан</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2 4.18 2 2 0 0 1 4.18 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
                        <span>+998(77) 535-66-55</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                        <span>info@medmapp.uz</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p class="copyright">&copy; 2025 MedMapp. Все права защищены.</p>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            <div class="footer-legal-links">
                    <a href="privacy-policy.html">Политика конфиденциальности</a>
                    <a href="terms-of-use.html">Условия использования</a>
                    <a href="public-offer.html">Публичная оферта</a>
                </div>
        </div>
    </div>

    <div id="status-modal" class="modal-overlay">
        <div class="modal-content">
            <div id="modal-icon-container">
            </div>
            <h2 id="modal-title"></h2>
            <p id="modal-message"></p>
            <button id="modal-close-btn" class="modal-button">Закрыть</button>
        </div>
    </div>

</footer>
    
    <!-- Pop-up Modal -->
    <div id="formModal" class="modal fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4 opacity-0 invisible z-[9999]">
        <!-- O'zgarish: Modalga maksimal balandlik berildi (max-h-[95vh]) -->
        <div class="modal-content w-full max-w-2xl mx-auto bg-white rounded-2xl shadow-2xl flex flex-col transform scale-95 max-h-[95vh]">
            
            <!-- Forma qismi -->
            <!-- O'zgarish: Keraksiz bo'sh joyni olib tashlash uchun flex-grow olib tashlandi. Endi skroll faqat kerak bo'lganda paydo bo'ladi. -->
            <div class="relative p-1 flex flex-col overflow-y-auto">
                <button id="closeModalBtn" class="absolute top-0 right-0 text-gray-400 hover:text-gray-600 transition z-10">
                    <i class="ph-bold ph-x text-2xl"></i>
                </button>
                <div class="flex-shrink-0">
                    <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-2">Анкета для консультации</h1>
                    <!-- O'zgarish: Pastki bo'shliq kamaytirildi (mb-4) -->
                    <p class="text-gray-500 mb-4">Заполните форму, чтобы получить медицинское заключение от зарубежной клиники!</p>
                </div>
                
                <!-- O'zgarish: Keraksiz bo'sh joyni olib tashlash uchun flex-grow olib tashlandi -->
                <form id="bitrixForm" class="space-y-4">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                        <div>
                            <label for="name" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                                <i class="ph ph-user text-base mr-2 text-gray-500"></i>
                                Имя и фамилия <span class="text-red-500 ml-1">*</span>
                            </label>
                            <input type="text" id="name" required class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="Ф.И.О.">
                        </div>
                        <div>
                            <label for="dob" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-calendar text-base mr-2 text-gray-500"></i>
                            Дата рождения <span class="text-red-500 ml-1">*</span>
                            </label>
                            <input type="text" id="dob" required class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="дд.мм.гггг">
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                        <div>
                            <label for="phone" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                                <i class="ph ph-phone text-base mr-2 text-gray-500"></i>
                                Ваш номер телефона <span class="text-red-500 ml-1">*</span>
                            </label>
                            <div class="flex items-center">
                                <span class="inline-flex items-center px-3 text-gray-500 bg-gray-100 border border-r-0 border-gray-200 rounded-l-lg h-full py-2 text-sm">+998</span>
                                <input type="tel" id="phone" required class="w-full px-3 py-2 border border-l-0 border-gray-200 bg-gray-50 rounded-r-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="(90) 123-45-67">
                            </div>
                        </div>
                        <div>
                            <label for="email" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                                <i class="ph ph-envelope-simple text-base mr-2 text-gray-500"></i>
                                Электронная почта
                            </label>
                            <input type="email" id="email" class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="e-mail@gmail.com">
                        </div>
                    </div>
                    
                    <div>
                        <label for="requirements" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-chat-circle-dots text-base mr-2 text-gray-500"></i>
                            Что вас беспокоит?
                        </label>
                        <textarea id="requirements" rows="3" class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="Предыдущие диагнозы (если есть)"></textarea>
                    </div>

                    <div>
                        <label class="flex items-center mb-0 text-sm font-medium text-gray-700">
                            <i class="ph ph-file-arrow-up text-base mr-2 text-gray-500"></i>
                            Медицинские файлы <span class="text-red-500 ml-1">*</span>
                        </label>
                        <div id="dropZone" class="w-full px-4 py-3 border-2 border-dashed border-gray-300 rounded-lg hover:border-blue-400 transition-colors">
                            <label for="medicalFiles" class="flex items-center justify-center text-gray-500 cursor-pointer">
                                <i class="ph ph-paperclip text-lg mr-2"></i>
                                <span id="fileName" class="text-sm text-center">Выберите файлы или перетащите их сюда</span>
                            </label>
                            <input type="file" id="medicalFiles" class="hidden" multiple>
                        </div>
                        <div id="fileList" class="mt-2 flex flex-wrap gap-2"></div>
                    </div>

                    <div class="pt-0">
                        <div class="flex items-start">
                            <input type="checkbox" id="terms" required class="h-4 w-4 mt-0.5 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                            <label for="terms" class="ml-0 block text-sm text-gray-700" style="font-size: 0.7rem;">
                                Я подтверждаю правильность всей введенной мной информации и ознакомился с <a href="https://medmapp.uz/ru/public-offer" target="_blank" class="text-blue-600 hover:underline font-medium">Публичной офертой</a> и <a href="https://medmapp.uz/ru/privacy-policy" target="_blank" class="text-blue-600 hover:underline font-medium">Политикой конфиденциальности</a>. <span class="text-red-500">*</span>
                            </label>
                        </div>
                    </div>

                    <button type="submit" id="submitButton" class="w-full flex-shrink-0 flex items-center justify-center bg-blue-600 text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300 disabled:bg-blue-400">
                        <i class="ph ph-paper-plane-tilt text-xl mr-2"></i>
                        Отправить
                    </button>
                </form>
                <div id="statusMessage" class="mt-4 text-center text-sm font-medium flex-shrink-0"></div>
            </div>
        </div>
    </div>

    <!-- Muvaffaqiyatli xabar oynasi -->
    <div id="successModal" class="success-modal fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4 opacity-0 invisible z-[9999]">
        <div class="success-modal-content bg-white rounded-2xl shadow-xl p-8 text-center max-w-sm mx-auto transform scale-95">
            <div class="w-16 h-16 bg-green-100 rounded-full flex items-center justify-center mx-auto mb-4">
                <i class="ph-bold ph-check text-4xl text-green-500"></i>
            </div>
            <h2 class="text-2xl font-bold text-gray-800 mb-2">Успешно!</h2>
            <p class="text-gray-600 mb-6">Ваше обращение принято! Наши операторы свяжутся с вами в ближайшее время.</p>
            <button id="closeSuccessModalBtn" class="w-full bg-blue-600 text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300">Закрыть</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="https://unpkg.com/imask"></script>

    <!-- MAXFIY SOZLAMALAR YUKLANDI -->
    <script src="../config.js"></script>
    <script src="../script.js"></script>

    <script>
    (function(w,d,u){
            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
    })(window,document,'https://cdn-ru.bitrix24.ru/b35079736/crm/site_button/loader_2_t814vm.js');
</script>

</body>
    </html>
