<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Публичная оферта | MedMapp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="medmapp, medmapp ru, MedMapp, MedMapp ru, Индия, пересадка почки, пересадка печени, операция, медицинский туризм">
    <meta name="description" content="Лечитесь в самых известных больницах Индии по доступным и прозрачным ценам через платформу MedMapp!">

    <meta property="og:title" content="Официальный сайт платформы MedMapp">
    <meta property="og:description" content="Лечитесь в самых известных больницах Индии по доступным и прозрачным ценам через платформу MedMapp!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://medmapp.uz/">
    <meta property="og:image" content="https://medmapp.uz/images/logo/MedMapp_Logo.png" />
    <meta property="og:site_name" content="medmapp.uz">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../images/logo/favicon.png">

    <link rel="stylesheet" href="../style.css">
    

    <meta name='dmca-site-verification' content='NEJLMXowYndsRUJBSlVwRS9yRWJFUT090' /> <!-- Hotjar Tracking Code for Site 6516105  -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:6516105,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WFJ5QFG709"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WFJ5QFG709');
    </script>

</head>
<body>

   <header class="header scrolled">
    <a href="/ru/" class="header-logo">
        <img src="../images/logo/MedMapp_Logo.png" alt="Логотип MedMapp">
    </a>
    
    <nav class="header-nav" id="header-nav">
        <div class="mobile-nav-header">
            <img src="../images/logo/favicon.png" alt="MedMapp" class="mobile-nav-logo">
            <h3 class="mobile-nav-title">Меню</h3>
        </div>

        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="clinics.html">Больницы</a></li>
            <li><a href="pricing.html">Цены</a></li>
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="testimonials.html">Отзывы</a></li>
            <li><a href="blog.html">Блог</a></li>
        </ul>

        <div class="mobile-nav-footer">
            
            <div class="auth-buttons">
                <button id="openModalBtn" class="signup-btn" style="color: white!important;">
                    <i class="ph-bold ph-heartbeat text-xl mr-2"></i>
                    <span>Медицинская консультация</span>
                </button>
            </div>
        </div>
    </nav>

     <div class="header-right-container">
        <div class="header-actions">
            <div class="language-selector-wrapper">
                <button class="language-selector-btn" id="desktop-lang-btn">
                    <div class="lang-text-group">
                        <img id="desktop-selected-lang-flag" src="../images/language/ru.png" alt="Флаг России" class="lang-flag">
                        <span id="desktop-selected-lang-text">RU</span>
                    </div>
                    <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
                <ul class="language-dropdown" id="desktop-lang-dropdown">
                    <li><a href="../uz/public-offer.html" data-lang="uz"><img src="../images/language/uz.png" alt="Флаг Узбекистана" class="lang-flag"> O'zbekcha</a></li>
                    <li><a href="../ru/public-offer.html" data-lang="ru" class="selected"><img src="../images/language/ru.png" alt="Флаг России" class="lang-flag"> Русский</a></li>
                    <li><a href="../en/public-offer.html" data-lang="en"><img src="../images/language/en.png" alt="Флаг Великобритании" class="lang-flag"> English</a></li>
                </ul>
            </div>
            <div class="auth-buttons">
                <button id="openModalBtn" class="signup-btn" style="color: white!important;">
                    <i class="ph-bold ph-heartbeat text-xl mr-2"></i>
                    <span>Медицинская консультация</span>
                </button>
            </div>
        </div>

        <!-- MOBIL UCHUN TIL TANLASH -->
            <div class="mobile-header-actions">
                <div class="language-selector-wrapper">
                    <button class="language-selector-btn" id="mobile-header-lang-btn">
                        <div class="lang-text-group">
                            <img id="mobile-header-selected-lang-flag" src="../images/language/ru.png" alt="Флаг России" class="lang-flag">
                            <span id="mobile-header-selected-lang-text">RU</span>
                        </div>
                        <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                    </button>
                    <ul class="language-dropdown" id="mobile-header-lang-dropdown">
                        <li><a href="../uz/public-offer.html" data-lang="uz"><img src="../images/language/uz.png" alt="Uzbekistan Bayrog'i" class="lang-flag"> O'zbekcha</a></li>
                        <li><a href="../ru/public-offer.html" data-lang="ru" class="selected"><img src="../images/language/ru.png" alt="Rossiya Bayrog'i" class="lang-flag"> Русский</a></li>
                        <li><a href="../en/public-offer.html" data-lang="en"><img src="../images/language/en.png" alt="Buyuk Britaniya Bayrog'i" class="lang-flag"> English</a></li>
                    </ul>
                </div>
            </div>

        <button class="hamburger-menu" id="hamburger-menu" aria-label="Открыть/закрыть меню" aria-controls="header-nav" aria-expanded="false">
            <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </button>
    </div>
</header>

    <main class="main-content">
        <div class="container">
            <div class="policy-card">
                <div class="policy-header">
                    <div class="header-content">
                        <div class="header-icon">
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path><polyline points="14 2 14 8 20 8"></polyline>
                            </svg>
                        </div>
                        <div>
                    <h1 class="policy-title">ПУБЛИЧНАЯ ОФЕРТА</h1>
                    <p class="policy-subtitle">о заключении договора оказания информационных услуг платформы MedMapp</p>
                </div>
                    </div>
                </div>

                <div class="policy-content-wrapper">
                    <div class="prose">
                    <p>Настоящая публичная оферта (далее – «Оферта») является официальным предложением Общества с ограниченной ответственностью «MEDMAPP» (далее – «Исполнитель»), ИНН 312319171, зарегистрированного в соответствии с законодательством Республики Узбекистан, адресованным любому физическому лицу, обладающему полной дееспособностью (далее – «Заказчик»), заключить Договор оказания Информационных услуг на условиях, изложенных в настоящей Оферте.</p>
                    <p>Путём совершения действий, указанных в настоящей Оферте, Заказчик подтверждает, что:</p>
                    <ul>
                        <li>полностью и безоговорочно принимает все условия настоящей Оферты без каких-либо изъятий и оговорок;</li>
                        <li>осознаёт и понимает правовой статус Исполнителя, а также характер предоставляемых им услуг;</li>
                        <li>действует от собственного имени, в своих интересах и (или) в интересах представляемого им лица на основании соответствующих полномочий.</li>
                    </ul>
                    <p>Настоящая Оферта действует бессрочно и распространяет своё действие на всех Заказчиков, принявших её условия в установленном порядке.</p>
                    
                    <h2>1. Термины и определения</h2>
                    <p><strong>1.1. Платформа</strong> – веб- и/или мобильный сервис «MedMapp», предназначенный для приёма запросов Заказчиков на подбор иностранных медицинских учреждений, предоставления информации о предложениях таких учреждений, а также обеспечения взаимодействия между Заказчиком и выбранным учреждением, включая передачу сообщений и организацию бронирования.</p>
                    <p><strong>1.2. Заказчик</strong> – физическое лицо с полной дееспособностью, акцептовавшее настоящую Оферту и использующее Платформу для получения информационных услуг в личных целях, не связанных с предпринимательской деятельностью.</p>
                    <p><strong>1.3. Информационные услуги</strong> – предоставление Заказчику информации о вариантах лечения в иностранных медицинских учреждениях, размещённой в Платформе на основании сведений от этих учреждений, а также обеспечение технической возможности обмена сообщениями и, при необходимости, содействие в бронировании. Исполнитель не оказывает медицинских, диагностических, лечебных или консультативных услуг.</p>
                    <p><strong>1.4. Акцепт</strong> – полное и безоговорочное согласие Заказчика на заключение Договора на условиях настоящей Оферты, выраженное через регистрацию на Платформе в порядке, установленном разделом 4.</p>
                    <p><strong>1.5. Медицинское учреждение</strong> – иностранная организация, имеющая право оказывать медицинские услуги в соответствии с законодательством своей страны и разместившая на Платформе свои предложения.</p>
                    <p><strong>1.6. Личный кабинет</strong> – персональный раздел Платформы, доступный Заказчику после регистрации, в котором отображается информация о его запросах, истории взаимодействия с иностранными медицинскими учреждениями и статусах оказания услуг.</p>
                    <p><strong>1.7. Локальный сопровождающий</strong> – физическое лицо, находящееся в стране оказания медицинских услуг, прошедшее проверку Исполнителя и оказывающее Заказчику организационное содействие (встреча, сопровождение, помощь в бытовых вопросах, перевод и т.п.) в рамках договорённостей между Заказчиком и соответствующим Медицинским учреждением. Локальный сопровождающий не является представителем Исполнителя.</p>

                    <h2>2. Предмет Договора</h2>
                    <p><strong>2.1.</strong> В соответствии с условиями настоящей Оферты Исполнитель обязуется посредством Платформы предоставить Заказчику комплекс Информационных услуг, направленных на поиск, подбор и предоставление сведений о предложениях Медицинских учреждений, а также на обеспечение технической возможности обмена сообщениями между Заказчиком и выбранным Медицинским учреждением, бронирования Медицинских услуг через Платформу и, при необходимости, содействие в установлении контакта с Локальным сопровождающим в стране оказания медицинских услуг.</p>
                    <p><strong>2.2.</strong> Локальный сопровождающий выбирается Заказчиком самостоятельно через функционал Платформы и оказывает организационную помощь (встреча, сопровождение, помощь в бытовых вопросах, перевод и иные согласованные действия). Исполнитель не является стороной отношений между Заказчиком и Локальным сопровождающим, но готов оказывать содействие в урегулировании возможных организационных вопросов, связанных с таким взаимодействием.</p>
                    <p><strong>2.3.</strong> Информационные услуги Исполнителя не являются медицинской, диагностической, лечебной или консультативной деятельностью. Исполнитель не оказывает Медицинских услуг, не осуществляет медицинское вмешательство, не проводит обследований и не даёт медицинских заключений. Все решения о получении Медицинских услуг Заказчик принимает самостоятельно, на основании информации, предоставленной Медицинским Учреждением.</p>
                    <p><strong>2.4.</strong> Исполнитель действует исключительно как информационный посредник, предоставляющий техническую Платформу для взаимодействия Заказчика с Медицинскими учреждениями, и не является представителем или агентом таких учреждений. Исполнитель не вправе и не обязан контролировать качество, сроки, объём и результаты оказываемых ими Медицинских услуг, а также не несёт ответственности за их последствия.</p>
                    <p><strong>2.5.</strong> Заказчик подтверждает, что понимает и соглашается с тем, что выбор Медицинского учреждения, объём Медицинских услуг, условия их оказания, а также окончательные расчёты и взаимоотношения по поводу Медицинских услуг осуществляются непосредственно между Заказчиком и выбранным Медицинским учреждением, без участия Исполнителя, за исключением технической возможности бронирования через Платформу.</p>
                    
                    <h2>3. Правовой статус Исполнителя</h2>
                    <p><strong>3.1.</strong> Исполнитель не является Медицинским учреждением, не осуществляет медицинскую деятельность, не оказывает медицинских услуг, не проводит диагностику, лечение или консультации, а также не имеет права выдавать медицинские заключения или иные документы, связанные с медицинской практикой.</p>
                    <p><strong>3.2.</strong> Исполнитель предоставляет Заказчику исключительно Информационные услуги посредством Платформы, включая предоставление информации о предложениях Медицинских учреждений, обеспечение обмена сообщениями и бронирование медицинских услуг через Платформу.</p>
                    <p><strong>3.3.</strong> Исполнитель не является посредником, представителем, агентом или иным уполномоченным лицом какого-либо Медицинского учреждения, не действует в его интересах и не принимает на себя обязательств от имени такого Медицинского учреждения.</p>
                    <p><strong>3.4.</strong> Исполнитель не принимает участия в финансовых расчётах между Заказчиком и Медицинским учреждением и не вмешивается в установление условий, сроков и порядка оказания медицинских услуг, которые определяются сторонами напрямую.</p>
                    <p><strong>3.5.</strong> Исполнитель, в силу своего статуса информационного посредника, не может влиять на решения Медицинского учреждения об оказании или отказе в оказании медицинских услуг, изменении их стоимости, условий или сроков, а также на иные обстоятельства, зависящие от деятельности самого учреждения. Вместе с тем, Исполнитель готов оказывать максимальное содействие Заказчику и Медицинскому учреждению в урегулировании возможных споров и вопросов, возникающих в процессе оказания услуг.</p>

                    <h2>4. Порядок заключения Договора (Акцепт Оферты)</h2>
                    <p><strong>4.1.</strong> Акцептом Оферты признаётся полное и безоговорочное согласие Заказчика с её условиями, выраженное путём прохождения процедуры регистрации на Платформе.</p>
                    <p><strong>4.2.</strong> Процедура регистрации включает указание номера мобильного телефона, подтверждение его посредством ввода полученного SMS-кода, а также выражение согласия с условиями, размещёнными на Платформе.</p>
                    <p><strong>4.3.</strong> Момент нажатия Заказчиком кнопки «Зарегистрироваться» (при условии выполнения всех действий, указанных в пункте 4.2 настоящей Оферты) считается моментом заключения Договора между Исполнителем и Заказчиком.</p>
                    <p><strong>4.4.</strong> Совершая Акцепт, Заказчик подтверждает, что ознакомлен с содержанием настоящей Оферты, понимает её условия, принимает их в полном объёме, а также гарантирует достоверность предоставленных им сведений.</p>
                    <p><strong>4.5.</strong> Регистрация на Платформе и Акцепт Оферты допускаются только в отношении лиц, соответствующих требованиям, установленным пунктом 1.2 настоящей Оферты.</p>

                    <h2>5. Права и обязанности сторон</h2>
                    <p><strong>5.1. Исполнитель обязан:</strong></p>
                    <ul>
                        <li>5.1.1. Предоставлять Заказчику доступ к функционалу Платформы в объёме, необходимом для оказания Информационных услуг в соответствии с условиями настоящей Оферты.</li>
                        <li>5.1.2. Размещать на Платформе актуальную информацию о предложениях Медицинских учреждений, доступную Исполнителю на момент её публикации.</li>
                        <li>5.1.3. Обеспечивать техническую возможность обмена сообщениями между Заказчиком и выбранным Медицинским учреждением через Платформу.</li>
                        <li>5.1.4. Обеспечивать техническую возможность бронирования медицинских услуг выбранного Медицинского учреждения через Платформу.</li>
                        <li>5.1.5. Обеспечивать конфиденциальность персональных данных и иной информации Заказчика в соответствии с разделом 8 настоящей Оферты.</li>
                    </ul>
                    <p><strong>5.2. Исполнитель вправе:</strong></p>
                    <ul>
                        <li>5.2.1. Приостанавливать или прекращать доступ Заказчика к Платформе в случае нарушения им условий настоящей Оферты или требований законодательства.</li>
                        <li>5.2.2. Вносить изменения в функционал Платформы, порядок оказания Информационных услуг и иные условия работы Платформы.</li>
                        <li>5.2.3. Запрашивать у Заказчика дополнительную информацию, необходимую для оказания Информационных услуг.</li>
                        <li>5.2.4. Оказывать содействие Заказчику и Медицинскому учреждению в урегулировании разногласий, возникающих между ними, в порядке, предусмотренном пунктом 3.7 настоящей Оферты.</li>
                    </ul>
                    <p><strong>5.3. Заказчик обязан:</strong></p>
                    <ul>
                        <li>5.3.1. Предоставлять Исполнителю достоверные сведения, необходимые для оказания Информационных услуг.</li>
                        <li>5.3.2. Использовать Платформу только в личных целях, не связанных с осуществлением предпринимательской деятельности.</li>
                        <li>5.3.3. Самостоятельно принимать решение о выборе Медицинского учреждения, об объёме и условиях оказания медицинских услуг.</li>
                        <li>5.3.4. Выполнять требования настоящей Оферты и инструкции, размещённые на Платформе.</li>
                    </ul>
                    <p><strong>5.4. Заказчик вправе:</strong></p>
                    <ul>
                        <li>5.4.1. Получать от Исполнителя Информационные услуги в объёме и на условиях, предусмотренных настоящей Офертой.</li>
                        <li>5.4.2. Обращаться к Исполнителю за разъяснениями по работе Платформы и порядку оказания Информационных услуг.</li>
                        <li>5.4.3. Отказаться от использования Платформы в любой момент, при условии выполнения обязательств, принятых до момента отказа.</li>
                    </ul>

                    <h2>6. Стоимость услуг</h2>
                    <p><strong>6.1.</strong> Информационные услуги, оказываемые Исполнителем посредством Платформы, предоставляются Заказчику на безвозмездной основе.</p>
                    <p><strong>6.2.</strong> Безвозмездный характер Информационных услуг не освобождает Заказчика от выполнения условий настоящей Оферты и соблюдения требований законодательства.</p>
                    <p><strong>6.3.</strong> В Платформе могут размещаться предложения сопутствующих услуг сторонних поставщиков, включая, но не ограничиваясь, визовыми услугами, услугами переводчиков, транспортным сопровождением, бронированием проживания и иными сервисами. Такие услуги не являются Информационными услугами Исполнителя, оказываются на возмездной основе соответствующими поставщиками и регулируются отдельными договорами между Заказчиком и таким поставщиком. Исполнитель не является стороной таких договоров, не контролирует стоимость, сроки, объём и качество сопутствующих услуг и не несёт ответственности за их исполнение.</p>
                    <p><strong>6.4.</strong> Исполнитель вправе в дальнейшем изменить условия оказания Информационных услуг, в том числе установить их платность, разместив соответствующую информацию на Платформе не менее чем за 10 (десять) календарных дней до вступления изменений в силу.</p>
                    <p><strong>6.5.</strong> В случае введения платы за Информационные услуги Исполнитель указывает на Платформе размер платы, способы и порядок её внесения.</p>
                    <p><strong>6.6.</strong> Заказчик, не согласный с введением платы, вправе прекратить использование Платформы до даты вступления изменений в силу. Продолжение использования Платформы после этой даты считается согласием Заказчика с новыми условиями.</p>

                    <h2>7. Ответственность</h2>
                    <p><strong>7.1.</strong> Исполнитель несёт ответственность за надлежащее оказание Информационных услуг в соответствии с условиями настоящей Оферты и требованиями законодательства Республики Узбекистан, а также за сохранность и конфиденциальность персональных данных Заказчика в пределах, установленных разделом 8 настоящей Оферты.</p>
                    <p><strong>7.2.</strong> Исполнитель не несёт ответственности за качество, сроки, объём и результаты оказания медицинских услуг, предоставляемых Медицинским учреждением, а также за достоверность, полноту, актуальность и содержание информации, размещённой Медицинскими учреждениями на Платформе. Вместе с тем, Исполнитель готов прилагать усилия для содействия Заказчику в урегулировании возникающих вопросов и недоразумений.</p>
                    <p><strong>7.3.</strong> Исполнитель не является стороной договоров между Заказчиком и Медицинским учреждением, не контролирует их исполнение и не несёт ответственности за отказ Медицинского учреждения в оказании медицинских услуг, изменение их стоимости, условий или сроков оказания, а также за любые иные обстоятельства, зависящие от Медицинского учреждения. В случае возникновения у Заказчика обоснованных претензий, Исполнитель готов оказать содействие в передаче таких обращений соответствующему лицу и, по возможности, в их разрешении.</p>
                    <p><strong>7.4.</strong> Исполнитель не несёт ответственности за действия и бездействие сторонних поставщиков, оказывающих сопутствующие услуги (включая визовые услуги, услуги переводчиков, транспортное сопровождение, бронирование проживания и иные сервисы), а также не является стороной договоров, заключаемых Заказчиком с такими поставщиками. При этом, при наличии обоснованных жалоб, Исполнитель рассмотрит обращение Заказчика и, в пределах своих возможностей, поможет в урегулировании ситуации, включая, при необходимости, замену Локального сопровождающего.</p>
                    <p><strong>7.5.</strong> Исполнитель не несёт ответственности за перебои в работе Платформы, вызванные техническими сбоями, действиями третьих лиц, профилактическими работами или обстоятельствами непреодолимой силы, а также не гарантирует, что использование Платформы приведёт к получению Заказчиком медицинских услуг определённого качества, объёма или результата.</p>
                    <p><strong>7.6.</strong> Заказчик самостоятельно несёт ответственность за достоверность предоставляемых данных, выбор Медицинского учреждения, Постороннего поставщика или Локального сопровождающего, а также за все последствия, связанные с получением услуг у этих лиц.</p>

                    <h2>8. Конфиденциальность</h2>
                    <p><strong>8.1.</strong> Исполнитель обязуется соблюдать конфиденциальность информации, полученной от Заказчика в связи с исполнением настоящей Оферты, и не раскрывать её третьим лицам, за исключением случаев, предусмотренных настоящей Офертой или законодательством Республики Узбекистан.</p>
                    <p><strong>8.2.</strong> К конфиденциальной информации относятся:</p>
                    <ul>
                        <li>8.2.1. персональные данные Заказчика, включая фамилию, имя, контактные данные и иную информацию, указанную при регистрации и использовании Платформы;</li>
                        <li>8.2.2. сведения о состоянии здоровья Заказчика, полученные в процессе оказания Информационных услуг, в том числе относящиеся к врачебной тайне;</li>
                        <li>8.2.3. иная информация, переданная Заказчиком Исполнителю и не подлежащая свободному распространению.</li>
                    </ul>
                    <p><strong>8.3.</strong> Обработка персональных данных и сведений, относящихся к врачебной тайне, осуществляется Исполнителем в целях:</p>
                    <ul>
                        <li>8.3.1. регистрации Заказчика на Платформе и предоставления ему доступа к её функционалу;</li>
                        <li>8.3.2. оказания Информационных услуг в объёме, предусмотренном настоящей Офертой;</li>
                        <li>8.3.3. обеспечения взаимодействия Заказчика с Медицинскими учреждениями;</li>
                        <li>8.3.4. направления уведомлений и сообщений, связанных с оказанием Информационных услуг;</li>
                        <li>8.3.5. исполнения требований законодательства Республики Узбекистан.</li>
                    </ul>
                    <p><strong>8.4.</strong> Передача персональных данных и сведений, относящихся к врачебной тайне, допускается:</p>
                    <ul>
                        <li>8.4.1. медицинским учреждениям — исключительно в объёме, необходимом для оказания медицинских услуг;</li>
                        <li>8.4.2. иным лицам — в случаях, прямо предусмотренных законодательством Республики Узбекистан.</li>
                    </ul>
                    <p><strong>8.5.</strong> Исполнитель вправе осуществлять трансграничную передачу персональных данных и сведений, относящихся к врачебной тайне, в государства, обеспечивающие адекватную защиту прав субъектов таких данных, либо при наличии согласия Заказчика, либо в иных случаях, предусмотренных законодательством Республики Узбекистан.</p>
                    <p><strong>8.6.</strong> Исполнитель принимает необходимые организационные и технические меры для защиты конфиденциальной информации от неправомерного доступа, изменения, раскрытия, блокирования или уничтожения.</p>
                    <p><strong>8.7.</strong> Персональные данные и сведения, относящиеся к врачебной тайне, хранятся Исполнителем в течение срока действия Договора.</p>
                    <p><strong>8.8.</strong> Заказчик вправе получать информацию об обработке своих персональных данных и сведений, относящихся к врачебной тайне, требовать их уточнения, обновления, изменения или уничтожения, а также отзывать согласие на их обработку в порядке, предусмотренном законодательством Республики Узбекистан.</p>

                    <h2>9. Изменение и прекращение действия Оферты</h2>
                    <p><strong>9.1.</strong> Исполнитель вправе в любое время изменять условия настоящей Оферты путём размещения её новой редакции на Платформе.</p>
                    <p><strong>9.2.</strong> Заказчик обязан самостоятельно и регулярно отслеживать актуальную редакцию Оферты, размещённую на Платформе, и несёт все риски и последствия, связанные с её не ознакомлением после внесения изменений.</p>
                    <p><strong>9.3.</strong> Все изменения вступают в силу с момента их опубликования на Платформе и применяются ко всем Заказчикам, не прекратившим использование Платформы после такой публикации.</p>
                    <p><strong>9.4.</strong> Принятие Заказчиком новой редакции Оферты подтверждается продолжением использования Платформы после даты её публикации.</p>
                    <p><strong>9.5.</strong> Действие Оферты в отношении конкретного Заказчика прекращается при прекращении использования Платформы, в том числе в результате:</p>
                    <ul>
                        <li>9.5.1. добровольного отказа Заказчика, включая удаление учётной записи по его запросу;</li>
                        <li>9.5.2. удаления учётной записи по инициативе Исполнителя в связи с нарушением Заказчиком условий настоящей Оферты или требований законодательства.</li>
                    </ul>

                    <h2>10. Права на Платформу и контент</h2>
                    <p><strong>10.1.</strong> Все исключительные права на Платформу, включая её программный код, структуру, дизайн, пользовательский интерфейс, текстовые и графические материалы, фотографии, иллюстрации, базы данных, а также иные элементы, принадлежат Исполнителю и охраняются в соответствии с законодательством Республики Узбекистан и международными договорами.</p>
                    <p><strong>10.2.</strong> Заказчику предоставляется ограниченное, непередаваемое и отзываемое право использования Платформы исключительно в объёме, необходимом для получения Информационных услуг в порядке, установленном настоящей Офертой.</p>
                    <p><strong>10.3.</strong> Любое использование элементов Платформы вне условий настоящей Оферты, включая копирование, модификацию, распространение, публикацию, передачу третьим лицам или иное использование, допускается только с письменного согласия Исполнителя.</p>
                    <p><strong>10.4.</strong> Нарушение прав на Платформу и её элементы влечёт ответственность в соответствии с законодательством Республики Узбекистан.</p>

                    <h2>11. Прочие условия</h2>
                    <p><strong>11.1.</strong> Настоящая Оферта, а также все отношения между Исполнителем и Заказчиком, возникающие в связи с её исполнением, регулируются и толкуются в соответствии с законодательством Республики Узбекистан.</p>
                    <p><strong>11.2.</strong> Любые уведомления, сообщения, претензии и иная корреспонденция в рамках исполнения настоящей Оферты направляются Сторонами через Платформу, по электронной почте либо иным способом, позволяющим подтвердить факт отправки и получения.</p>
                    <p><strong>11.3.</strong> Все споры и разногласия, возникающие в связи с исполнением или толкованием настоящей Оферты, подлежат урегулированию путём переговоров между Сторонами.</p>
                    <p><strong>11.4.</strong> При невозможности урегулировать спор путём переговоров он подлежит рассмотрению в судебных органах Республики Узбекистан по месту нахождения Исполнителя.</p>
                    <p><strong>11.5.</strong> Недействительность одного или нескольких положений настоящей Оферты не влечёт недействительности остальных её положений. В случае признания какого-либо положения недействительным оно заменяется другим, максимально соответствующим первоначальным целям и намерениям Сторон.</p>
                    <p><strong>11.6.</strong> Невозможность Исполнителя в какой-либо момент потребовать от Заказчика исполнения любого положения настоящей Оферты не считается отказом от права требовать исполнения в будущем.</p>
                    <p><strong>11.7.</strong> Настоящая Оферта размещена на Платформе в открытом доступе и является публичным предложением, обязательным для исполнения Исполнителем с момента её Акцепта Заказчиком до момента прекращения действия в порядке, установленном разделом 9.</p>

                    <h2>12. Реквизиты Исполнителя</h2>
                    <p>
                        <strong>Общество с ограниченной ответственностью «MEDMAPP»</strong><br>
                        <strong>ИНН:</strong> 312319171<br>
                        <strong>Юридический адрес:</strong> Республика Узбекистан, Сырдарьинская область, город Гулистан, махалля «Янги Хаёт», проспект Узбекистан, дом 11<br>
                        <strong>Банк:</strong> АО «Aloqabank», Гулистанский филиал<br>
                        <strong>Расчётный счёт:</strong> 20208000807282604001<br>
                        <strong>Сайт:</strong> www.medmapp.uz
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<footer class="site-footer">
    <div class="container">
        
        <div class="footer-main-grid">
            <div class="footer-column">
                <a href="/ru/" class="header-logo">
                <img src="../images/logo/MedMapp_Logo.png" alt="MedMapp Logosi" class="footer-logo">
                </a>
                <p class="footer-about-text">
                    MedMapp - ваш надежный медицинский спутник в Индии. Мы организуем качественное и доступное лечение в лучших клиниках.
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/medmapp_uz" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
                    <a href="https://www.instagram.com/medmapp_uz" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a>
                    <a href="https://t.me/medmapp_uz" target="_blank" aria-label="Telegram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"/><path d="M22 2 11 13"/></svg></a>
                    <a href="https://www.youtube.com/medmapp_uz" aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10C2.5 6 4.5 4 7 4h10c2.5 0 4.5 2 4.5 3.5a24.12 24.12 0 0 1 0 10c0 1.5-2 3.5-4.5 3.5H7c-2.5 0-4.5-2-4.5-3.5Z"/><path d="m10 15 5-3-5-3z"/></svg></a>
                </div>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Меню</h4>
                <ul class="footer-links">
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="clinics.html">Больницы</a></li>
                    <li><a href="pricing.html">Цены</a></li>
                    <li><a href="doctors.html">Врачи</a></li>
                    <li><a href="testimonials.html">Отзывы</a></li>
                    <li><a href="blog.html">Блог</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Основные направления</h4>
                <ul class="footer-links">
                    <li><a href="#">Кардиология</a></li>
                    <li><a href="#">Онкология</a></li>
                    <li><a href="#">Нейрохирургия</a></li>
                    <li><a href="#">Ортопедия</a></li>
                    <li><a href="#">Трансплантация</a></li>
                    <li><a href="#">Косметическая хирургия</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="footer-title">Свяжитесь с нами</h4>
                <ul class="footer-contact">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/><circle cx="12" cy="10" r="3"/></svg>
                        <span>Сырдарьинская область, Узбекистан</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2 4.18 2 2 0 0 1 4.18 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
                        <span>+998(77) 535-66-55</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                        <span>info@medmapp.uz</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p class="copyright">&copy; 2025 MedMapp. Все права защищены.</p>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            <div class="footer-legal-links">
                    <a href="privacy-policy.html">Политика конфиденциальности</a>
                    <a href="terms-of-use.html">Условия использования</a>
                    <a href="public-offer.html">Публичная оферта</a>
                </div>
        </div>
    </div>

    <div id="status-modal" class="modal-overlay">
        <div class="modal-content">
            <div id="modal-icon-container">
            </div>
            <h2 id="modal-title"></h2>
            <p id="modal-message"></p>
            <button id="modal-close-btn" class="modal-button">Закрыть</button>
        </div>
    </div>

</footer>
    
    <!-- Pop-up Modal -->
    <div id="formModal" class="modal fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4 opacity-0 invisible z-[9999]">
        <!-- O'zgarish: Modalga maksimal balandlik berildi (max-h-[95vh]) -->
        <div class="modal-content w-full max-w-2xl mx-auto bg-white rounded-2xl shadow-2xl flex flex-col transform scale-95 max-h-[95vh]">
            
            <!-- Forma qismi -->
            <!-- O'zgarish: Keraksiz bo'sh joyni olib tashlash uchun flex-grow olib tashlandi. Endi skroll faqat kerak bo'lganda paydo bo'ladi. -->
            <div class="relative p-1 flex flex-col overflow-y-auto">
                <button id="closeModalBtn" class="absolute top-0 right-0 text-gray-400 hover:text-gray-600 transition z-10">
                    <i class="ph-bold ph-x text-2xl"></i>
                </button>
                <div class="flex-shrink-0">
                    <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-2">Анкета для консультации</h1>
                    <!-- O'zgarish: Pastki bo'shliq kamaytirildi (mb-4) -->
                    <p class="text-gray-500 mb-4">Заполните форму, чтобы получить медицинское заключение от зарубежной клиники!</p>
                </div>
                
                <!-- O'zgarish: Keraksiz bo'sh joyni olib tashlash uchun flex-grow olib tashlandi -->
                <form id="bitrixForm" class="space-y-4">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                        <div>
                            <label for="name" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                                <i class="ph ph-user text-base mr-2 text-gray-500"></i>
                                Имя и фамилия <span class="text-red-500 ml-1">*</span>
                            </label>
                            <input type="text" id="name" required class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="Ф.И.О.">
                        </div>
                        <div>
                            <label for="dob" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-calendar text-base mr-2 text-gray-500"></i>
                            Дата рождения <span class="text-red-500 ml-1">*</span>
                            </label>
                            <input type="text" id="dob" required class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="дд.мм.гггг">
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                        <div>
                            <label for="phone" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                                <i class="ph ph-phone text-base mr-2 text-gray-500"></i>
                                Ваш номер телефона <span class="text-red-500 ml-1">*</span>
                            </label>
                            <div class="flex items-center">
                                <span class="inline-flex items-center px-3 text-gray-500 bg-gray-100 border border-r-0 border-gray-200 rounded-l-lg h-full py-2 text-sm">+998</span>
                                <input type="tel" id="phone" required class="w-full px-3 py-2 border border-l-0 border-gray-200 bg-gray-50 rounded-r-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="(90) 123-45-67">
                            </div>
                        </div>
                        <div>
                            <label for="email" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                                <i class="ph ph-envelope-simple text-base mr-2 text-gray-500"></i>
                                Электронная почта
                            </label>
                            <input type="email" id="email" class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="e-mail@gmail.com">
                        </div>
                    </div>
                    
                    <div>
                        <label for="requirements" class="flex items-center mb-1 text-sm font-medium text-gray-700">
                            <i class="ph ph-chat-circle-dots text-base mr-2 text-gray-500"></i>
                            Что вас беспокоит?
                        </label>
                        <textarea id="requirements" rows="3" class="w-full px-3 py-2 border border-gray-200 bg-gray-50 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-sm" placeholder="Предыдущие диагнозы (если есть)"></textarea>
                    </div>

                    <div>
                        <label class="flex items-center mb-0 text-sm font-medium text-gray-700">
                            <i class="ph ph-file-arrow-up text-base mr-2 text-gray-500"></i>
                            Медицинские файлы <span class="text-red-500 ml-1">*</span>
                        </label>
                        <div id="dropZone" class="w-full px-4 py-3 border-2 border-dashed border-gray-300 rounded-lg hover:border-blue-400 transition-colors">
                            <label for="medicalFiles" class="flex items-center justify-center text-gray-500 cursor-pointer">
                                <i class="ph ph-paperclip text-lg mr-2"></i>
                                <span id="fileName" class="text-sm text-center">Выберите файлы или перетащите их сюда</span>
                            </label>
                            <input type="file" id="medicalFiles" class="hidden" multiple>
                        </div>
                        <div id="fileList" class="mt-2 flex flex-wrap gap-2"></div>
                    </div>

                    <div class="pt-0">
                        <div class="flex items-start">
                            <input type="checkbox" id="terms" required class="h-4 w-4 mt-0.5 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                            <label for="terms" class="ml-0 block text-sm text-gray-700" style="font-size: 0.7rem;">
                                Я подтверждаю правильность всей введенной мной информации и ознакомился с <a href="https://medmapp.uz/ru/public-offer" target="_blank" class="text-blue-600 hover:underline font-medium">Публичной офертой</a> и <a href="https://medmapp.uz/ru/privacy-policy" target="_blank" class="text-blue-600 hover:underline font-medium">Политикой конфиденциальности</a>. <span class="text-red-500">*</span>
                            </label>
                        </div>
                    </div>

                    <button type="submit" id="submitButton" class="w-full flex-shrink-0 flex items-center justify-center bg-blue-600 text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300 disabled:bg-blue-400">
                        <i class="ph ph-paper-plane-tilt text-xl mr-2"></i>
                        Отправить
                    </button>
                </form>
                <div id="statusMessage" class="mt-4 text-center text-sm font-medium flex-shrink-0"></div>
            </div>
        </div>
    </div>

    <!-- Muvaffaqiyatli xabar oynasi -->
    <div id="successModal" class="success-modal fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4 opacity-0 invisible z-[9999]">
        <div class="success-modal-content bg-white rounded-2xl shadow-xl p-8 text-center max-w-sm mx-auto transform scale-95">
            <div class="w-16 h-16 bg-green-100 rounded-full flex items-center justify-center mx-auto mb-4">
                <i class="ph-bold ph-check text-4xl text-green-500"></i>
            </div>
            <h2 class="text-2xl font-bold text-gray-800 mb-2">Успешно!</h2>
            <p class="text-gray-600 mb-6">Ваше обращение принято! Наши операторы свяжутся с вами в ближайшее время.</p>
            <button id="closeSuccessModalBtn" class="w-full bg-blue-600 text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300">Закрыть</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="https://unpkg.com/imask"></script>

    <!-- MAXFIY SOZLAMALAR YUKLANDI -->
    <script src="../config.js"></script>
    <script src="../script.js"></script>

    <script>
    (function(w,d,u){
            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
    })(window,document,'https://cdn-ru.bitrix24.ru/b35079736/crm/site_button/loader_2_t814vm.js');
</script>

</body>
    </html>
